<div id="wrapper">
  <app-menu></app-menu>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <div class="container">
          <div class="row">
              <!-- grupo -->
              <div class="col-sm-6 col-md-4">
                  <div class="form-group row">
                      <label for="idGrupo" class="col-2 form-label">Grupo:</label>
                      <div class="col-4">
                        <input class="form-control" type="text" value="402" id="idGrupo" disabled>
                      </div>
                  </div>
              </div>
              <!-- grado -->
              <div class="col-sm-6 col-md-4">
                  <div class="form-group row">
                      <label for="idGrado" class="col-2 form-label">Grado:</label>
                      <div class="col-4">
                        <input class="form-control" type="text" value="4 año" id="idGrado" disabled>
                      </div>
                  </div>
              </div>
              <!-- materia -->
              <div class="col-sm-12 col-md-4">
                  <div class="form-group row">
                      <label for="materia" class="col-2 form-label">Materia:</label>
                      <div class="col-4">
                          <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
                      </div>
                  </div>
              </div>
            </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card tabla mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                 Alumnos
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover">
                        <thead>
                        <tr>
                            <th style="width: 20%">
                                Num. Lista
                            </th>
                            <th style="width: 20%">
                                Apellido Paterno
                            </th>
                            <th style="width: 20%">
                                Apellido Materno
                            </th>
                            <th style="width: 20%">
                                Nombre(s)
                            </th>
                            <th style="width: 20%">
                              Acciones
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.numero}}</td>
                            <td>{{item.apellidoP}}</td>
                            <td>{{item.apellidoM}}</td>
                            <td>{{item.nombre}}</td>
                            <td><button [id]="item.numero" type='button' (click)='calificar()' class='btn btn-warning' title='Calificar'><i class='fas fa-chalkboard-teacher'></i></button>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <!-- Modal Recuperar -->
              <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                        <div class="modal-body">
                          <div class="card">
                             <div class="card-header">
                                <strong>{{tituloModal}}</strong>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                      <label for="name">Nombre</label>
                                      <input disabled value="Jesús Carlos Acosta Rocha" class="form-control" id="nombre" type="text">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                      <label for="materia">Materia</label>
                                      <input disabled class="form-control" id="materia" type="text" value="Matemáticas">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div *ngIf="modal == 'calificar'" class="form-group col-sm-6">
                                    <label for="ccmonth">Calificación</label>
                                    <select class="form-control" id="ccmonth">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                    </select>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                        <button *ngIf="modal == 'calificar'" type="submit" class="btn btn-fill btn-rose float-right">Calificar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-fill btn-rose float-right">Cerrar actas</button>
                </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>