<div id="wrapper">
  <app-menu></app-menu>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
      <div class="container">
          <div class="row">
              <!-- grupo -->
              <div class="col-sm-6 col-md-4">
                  <div class="form-group row">
                      <label for="idGrupo" class="col-2 form-label">Grupo:</label>
                      <div class="col-4">
                        <input class="form-control" type="text" value="{{clave}}" disabled>
                      </div>
                  </div>
              </div>
              <!-- ciclo -->
              <div class="col-sm-6 col-md-4">
                  <div class="form-group row">
                      <label for="idGrado" class="col-2 form-label">Ciclo:</label>
                      <div class="col-4">
                        <input class="form-control" type="text" value="{{ciclo}}" id="idGrado" disabled>
                      </div>
                  </div>
              </div>
              <!-- materia -->
              <div class="col-sm-12 col-md-4">
                  <div class="form-group row">
                      <label for="materia" class="col-2 form-label">Materia:</label>
                      <div class="col-4">
                          <input class="form-control" type="text" value="{{materia}}"  disabled>
                      </div>
                  </div>
              </div>
            </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card tabla mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                 Alumnos
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table class="row-border hover">
                        <thead>
                        <tr>
                            <th style="width: 20%">
                                Apellido Paterno
                            </th>
                            <th style="width: 20%">
                                Apellido Materno
                            </th>
                            <th style="width: 20%">
                                Nombre(s)
                            </th>
                            <th style="width: 20%">
                              Acciones
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.apellidoP}}</td>
                            <td>{{item.apellidoM}}</td>
                            <td>{{item.nombre}}</td>
                            <td>
                              <button *ngIf="cali" type='button'  (click)='calificar(item.idAlumno)' class='btn btn-warning' title='Calificar'><i class='fas fa-chalkboard-teacher'></i></button>
                              <button *ngIf="!cali" disabled type='button' (click)='calificar(item.idAlumno)' class='btn btn-warning' title='Calificar'><i class='fas fa-chalkboard-teacher'></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <!-- Modal Calificar -->
              <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                        <div class="modal-body">
                          <div class="card">
                             <div class="card-header">
                                <strong>Calificar Alumno</strong>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                      <label for="name">Nombre</label>
                                      <input disabled value="{{nombreAlu}}" class="form-control" id="nombre" type="text">
                                    </div>
                                  </div>
                                </div>
                                <form [formGroup]="calificacionForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label> Calificación</label>
                                        <i class="fa fa-check-circle check" *ngIf="calificacionForm.controls.calificacion.valid"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="calificacionForm.controls.calificacion.invalid &&
                                        calificacionForm.controls.calificacion.touched"></i> 
                                        <ng-select [items]="select"
                                                    bindLabel="name"
                                                    bindValue="id"
                                                    formControlName="calificacion"
                                                    placeholder="Selecciona">
                                        </ng-select>
                                        <p class="alert alert-danger" *ngIf="calificacionForm.controls.calificacion.invalid &&
                                        calificacionForm.controls.calificacion.touched">
                                        El campo calificación es obligatorio</p>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="form-group col-md-12">
                                      <button type="submit" class="btn btn-fill btn-rose float-right" [disabled]=!calificacionForm.valid>Agregar</button>
                                      <p class="alert alert-danger" *ngIf="!calificacionForm.valid">
                                          Por favor complete los campos
                                      </p>
                                  </div>
                              </div>
                            </form>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>