<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
    <app-menu-admin></app-menu-admin>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <ngb-alert class="float-right" style="z-index: 200;position: absolute;right:5px;top:15px;" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <ngb-alert class="float-right" style="z-index: 200;position: absolute;right:5px;top:15px;" *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar Aviso</button>
            </div>
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                    Avisos
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 20%">
                                  Título
                              </th>
                              <th style="width: 20%">
                                  Fecha Inicio
                              </th>
                              <th style="width: 20%">
                                  Fecha Final
                              </th>
                              <th style="width: 20%">
                                  Tipo
                              </th>
                              <th style="width: 20%">
                                Acciones
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of datosTable">
                              <td>{{item.titulo}}</td>
                              <td>{{item.fechaIni}}</td>
                              <td>{{item.fechaFin}}</td>
                              <td>{{item.tipo}}</td>
                              <td>
                                <button type='button' (click)='modificar(item.idAviso)' class='btn btn-warning' title='Modificar'>
                                  <i class='fas fa-edit'></i>
                                </button>
                                <button type='button' (click)='eliminar(item.idAviso)' class='btn btn-danger' title='Eliminar'>
                                  <i class='far fa-trash-alt'></i>
                                </button>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal-modificar" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                          <div class="modal-body">
                            <div class="card">
                               <div class="card-header">
                                  <strong *ngIf="modal == 'modificar'">Modificar Aviso</strong>
                                  <strong *ngIf="modal == 'agregar'">Agregar Aviso</strong>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="card-body">
                                  <form [formGroup]="avisoForm" (ngSubmit)="onSubmit()">
                                  <div class="row">
                                      <div class="col-sm-12 ">
                                        <div class="form-group">
                                          <label for="materia">Título del Aviso</label>
                                          <i class="fa fa-check-circle check" *ngIf="avisoForm.controls.titulo.valid"></i>
                                          <i class="fa fa-exclamation-circle uncheck" *ngIf="avisoForm.controls.titulo.invalid &&
                                          avisoForm.controls.titulo.touched"></i>
                                          <input  class="form-control" id="titulo" type="text" formControlName="titulo">
                                          <p class="alert alert-danger" *ngIf="avisoForm.controls.titulo.invalid &&
                                          avisoForm.controls.titulo.touched">
                                          El campo Título es obligatorio</p>
                                        </div>
                                      </div>
                                      <div class="col-sm-12 ">
                                          <div class="form-group">
                                            <label for="materia">Mensaje</label>
                                            <i class="fa fa-check-circle check" *ngIf="avisoForm.controls.mensaje.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="avisoForm.controls.mensaje.invalid &&
                                            avisoForm.controls.mensaje.touched"></i>
                                            <input  class="form-control" id="mensaje" type="text" formControlName="mensaje">
                                            <p class="alert alert-danger" *ngIf="avisoForm.controls.mensaje.invalid &&
                                            avisoForm.controls.mensaje.touched">
                                            El campo Mensaje es obligatorio</p>
                                          </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12 col-md-12">
                                          <div class="form-group">
                                              <label for="tipo">Tipo</label>
                                              <i class="fa fa-check-circle check" *ngIf="avisoForm.controls.idTipo.valid"></i>
                                              <i class="fa fa-exclamation-circle uncheck" *ngIf="avisoForm.controls.idTipo.invalid &&
                                              avisoForm.controls.idTipo.touched"></i>
                                              <ng-select [items]="tipos"
                                                      bindLabel="name"
                                                      bindValue="id"
                                                      placeholder="Selecciona"
                                                      formControlName="idTipo">
                                              </ng-select> 
                                              <p class="alert alert-danger" *ngIf="avisoForm.controls.idTipo.invalid &&
                                              avisoForm.controls.idTipo.touched">
                                              El campo Tipo es obligatorio</p>
                                          </div> 
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia">Fecha Inicio</label>
                                            <i class="fa fa-check-circle check" *ngIf="avisoForm.controls.fechaIni.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="avisoForm.controls.fechaIni.invalid &&
                                            avisoForm.controls.fechaIni.touched"></i>
                                            <div class="input-group">
                                                <input class="form-control" [minDate]="minDate" [maxDate]="maxDate" placeholder="mm/dd/aaaa" formControlName="fechaIni" bsDatepicker #dp2="bsDatepicker" [bsConfig]="bsConfig" >
                                                <div class="input-group-btn">
                                                    <button  type="button" class="btn btn-calendar" (click)="dp.show() " ><i class="fas fa-calendar-alt"></i></button>
                                                </div>
                                                <p class="alert alert-danger" *ngIf="avisoForm.controls.fechaIni.invalid &&
                                                avisoForm.controls.fechaIni.touched">
                                                El campo Fecha Inicio es obligatorio</p>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia">Fecha Final</label>
                                            <i class="fa fa-check-circle check" *ngIf="avisoForm.controls.fechaFin.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="avisoForm.controls.fechaFin.invalid &&
                                            avisoForm.controls.fechaFin.touched"></i>
                                            <div class="input-group">
                                                <input class="form-control" [minDate]="minDate" [maxDate]="maxDate" placeholder="mm/dd/aaaa" formControlName="fechaFin" bsDatepicker #dp2="bsDatepicker" [bsConfig]="bsConfig" >
                                                <div class="input-group-btn">
                                                    <button  type="button" class="btn btn-calendar" (click)="dp2.show() " ><i class="fas fa-calendar-alt"></i></button>
                                                </div>
                                                <p class="alert alert-danger" *ngIf="avisoForm.controls.fechaFin.invalid &&
                                                avisoForm.controls.fechaFin.touched">
                                                El campo Fecha Final es obligatorio</p>
                                              </div>
                                          </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12 ">
                                          <div *ngIf="modal == 'modificar'" class="form-group">
                                            <button type="submit" class="btn btn-fill btn-rose " [disabled]=!avisoForm.valid>Modificar</button>
                                            <p class="alert alert-danger" *ngIf="!avisoForm.valid">
                                                Por favor complete los campos
                                            </p>
                                          </div>
                                          <div *ngIf="modal == 'agregar'" class="form-group">
                                            <button type="submit" class="btn btn-fill btn-rose " [disabled]=!avisoForm.valid>Agregar</button>
                                            <p class="alert alert-danger" *ngIf="!avisoForm.valid">
                                                Por favor complete los campos
                                            </p>
                                          </div>
                                      </div> 
                                  </div>
                                </form>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>

