<div id="wrapper">
  <!-- Sidebar -->
  <app-menu-alum></app-menu-alum>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
    </div>
        <div class="row" style="background-color: #EEEEEE;">
          <div *ngFor="let item of datos" class="col-sm-12 col-md-6" style="margin-top: 30px;">
                <div *ngIf="item?.idTipo==1" class="col-sm-12">
                  <div class="card text-white bg-primary">
                    <div class="card-header" style="background-color: #007BFF"> 
                      ¡Ultimas noticias! 
                    </div>
                    <div class="card-body">
                      <p>{{item.titulo}}</p> 
                      {{item.mensaje}}
                    </div>
                  </div>
                </div>
                <div *ngIf="item?.idTipo==2" class="col-sm-12">
                  <div class="card text-white bg-success">
                    <div class="card-header" style="background-color: #28A745"> 
                    ¡Próximos exámenes!
                    </div>
                    <div class="card-body"> 
                        <p>{{item.titulo}}</p> 
                        {{item.mensaje}}
                    </div>
                  </div>
                </div> 
                <div *ngIf="item?.idtipo==4" class="col-sm-12">
                    <div class="card text-white bg-danger">
                      <div class="card-header" style="background-color:#DC3545"> 
                        ¡Suspensión de clases! 
                      </div>
                      <div class="card-body"> 
                          <p>{{item.titulo}}</p> 
                           {{item.mensaje}}
                      </div>
                    </div>
                </div>
                <div *ngIf="item?.idTipo==3" class="col-sm-12">
                  <div class="card text-white bg-warning">
                    <div class="card-header" style="background-color:#FFC107"> 
                      !Reunión de Padres de Familia!
                    </div>
                    <div class="card-body"> 
                        <p>{{item.titulo}}</p> 
                        {{item.mensaje}}
                    </div>
                  </div>
                </div>
          </div>
        </div>
    <app-footer></app-footer>
  
</div>
