<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper"> 
<div id="content-wrapper">
<form [formGroup]="preinscripcionForm" (ngSubmit)="onSubmit()">
<div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
    <div class="card-body">
      <p style="text-align: center">DATOS PERSONALES</p>
      <hr>
    <div class="row">
        
      <div class="form-group col-sm-4" >
        <label for="city">Nombre del Aspirante</label>
        <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.nombre.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.nombre.invalid &&
            preinscripcionForm.controls.nombre.touched"></i>
        <input class="form-control" id="nombre" formControlName="nombre" type="text" >
        <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.nombre.invalid &&
               preinscripcionForm.controls.nombre.touched">
              El campo Nombre es obligatorio</p>
      </div>
      <div class="form-group col-sm-4" >
        <label for="postal-code">Apellido Paterno</label>
        <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.apellidop.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.apellidop.invalid &&
            preinscripcionForm.controls.apellidop.touched"></i>
        <input class="form-control" id="apellidop" formControlName="apellidop" type="text" >
        <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.apellidop.invalid &&
               preinscripcionForm.controls.apellidop.touched">
              El campo Apellido Paterno es obligatorio</p>
      </div>
      <div class="form-group col-sm-4" >
          <label>Apellido Materno</label>
          <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.apellidom.valid"></i>
          <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.apellidom.invalid &&
            preinscripcionForm.controls.apellidom.touched"></i>
          <input class="form-control" id="apellidom" formControlName="apellidom" type="text" >
          <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.apellidom.invalid &&
               preinscripcionForm.controls.apellidom.touched">
              El campo Apellido Materno es obligatorio</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4" >
          <label for="city">Curp</label>
          <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.curp.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.curp.invalid &&
            preinscripcionForm.controls.curp.touched"></i>
          <input class="form-control" id="curp" formControlName="curp" type="text" >
          <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.curp.invalid &&
               preinscripcionForm.controls.curp.touched">
              El campo Curp es obligatorio</p>
        </div>
        <div class="form-group col-sm-4" >
          <label for="postal-code">Sexo</label>
          <div class="col-4">
            <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar" id="sexo" formControlName="sexo"></ngx-select-dropdown>
        </div>
        </div>
        <div class="col-md-4">
            <label>Fecha de nacimiento</label>
            <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.fecha.valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.fecha.invalid &&
            preinscripcionForm.controls.fecha.touched"></i>
            <div class="input-group">
              <input class="form-control" [minDate]="minDate" formControlName="fecha" [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig">
              <div class="input-group-btn">
                  <button  type="button" class="btn btn-calendar" (click)="dp.show() " ><i class="fas fa-calendar-alt"></i></button>
              </div>
            </div>
            <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.fecha.invalid &&
              preinscripcionForm.controls.fecha.touched">
             El campo Fecha es obligatorio</p>
        </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-4" >
            <label for="city">Estado</label>
            <div class="col-4">
                <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
            </div>
          </div>
          <div class="form-group col-sm-4" >
            <label for="postal-code">Municipio</label>
            <div class="col-4">
                <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
            </div>
          </div>
          <div class="form-group col-sm-4" >
              <label for="postal-code">Localidad</label>
              <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.localidad.valid"></i>
              <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.localidad.invalid &&
                preinscripcionForm.controls.localidad.touched"></i>
              <input class="form-control" id="localidad" formControlName="localidad" type="text" >
              <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.localidad.invalid &&
               preinscripcionForm.controls.localidad.touched">
              El campo Localidad es obligatorio</p>
            </div>
      </div>
  </div>
</div>
<div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
    <div class="card-body">
        <p style="text-align: center">DATOS DE CONTACTO</p>
        <hr>
      <div class="row">
        <div class="form-group col-sm-2" >
          <label for="city">Lada</label>
          <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.lada.valid"></i>
         <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.lada.invalid &&
            preinscripcionForm.controls.lada.touched"></i>
          <input class="form-control" id="lada" formControlName="lada" type="text" >
          <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.lada.invalid &&
               preinscripcionForm.controls.lada.touched">
              El campo Lada es obligatorio</p>
        </div>
        <div class="form-group col-sm-4" >
          <label for="postal-code">Telefono Fijo</label>
          <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.telfijo.valid"></i>
          <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.telfijo.invalid &&
             preinscripcionForm.controls.telfijo.touched"></i>
          <input class="form-control" id="telfijo" formControlName="telfijo" type="number" >
          <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.telfijo.invalid &&
          preinscripcionForm.controls.telfijo.touched">
         El campo Telefono es obligatorio</p>
        </div>
        <div class="form-group col-sm-2" >
            <label for="postal-code">Lada</label>
            <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.lada2.valid"></i>
         <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.lada2.invalid &&
            preinscripcionForm.controls.lada2.touched"></i>
            <input class="form-control" id="lada2" formControlName="lada2" type="tex" >
            <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.lada2.invalid &&
            preinscripcionForm.controls.lada2.touched">
           El campo Lada es obligatorio</p>
        </div>
        <div class="form-group col-sm-4" >
            <label for="postal-code">Telefono Celular</label>
            <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.telcel.valid"></i>
          <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.telcel.invalid &&
             preinscripcionForm.controls.telcel.touched"></i>
            <input class="form-control" id="telcel" formControlName="telcel" type="number" >
            <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.telcel.invalid &&
             preinscripcionForm.controls.telcel.touched">
             El campo Telefono Celular es obligatorio</p>
        </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-6" >
            <label for="city">Correo Electrónico</label>
            <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.correo.valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.correo.invalid &&
              preinscripcionForm.controls.correo.touched"></i>
            <input class="form-control" id="correo" formControlName="correo" type="email" >
            <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.correo.invalid &&
               preinscripcionForm.controls.correo.touched">
               Correo Electrónico no válido</p>
          </div>
          <div class="form-group col-sm-6" >
            <label for="postal-code">Confirmar Correo Electrónico</label>
            <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.correo2.valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.correo2.invalid &&
              preinscripcionForm.controls.correo2.touched"></i>
            <input class="form-control" id="correo2" formControlName="correo2" type="email" >
            <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.correo2.invalid &&
            preinscripcionForm.controls.correo2.touched">
            Correo Electrónico no válido</p>
          </div>
        </div>
    </div>
  </div>
  <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
      <div class="card-body">
          <p style="text-align: center">DOMICILIO ASPIRANTE</p>
          <hr>
        <div class="row">
          <div class="form-group col-sm-4" >
            <label for="city">Código Postal</label>
            <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.codpos.valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.codpos.invalid &&
              preinscripcionForm.controls.codpos.touched"></i>
            <input class="form-control"  id="codpos" formControlName="codpos" type="number"  >
            <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.codpos.invalid &&
            preinscripcionForm.controls.codpos.touched">
           El campo Código Postal es obligatorio</p>
          </div>
          <div class="col-sm-12 col-md-4">
              <div class="form-group row">
                  <label>Estado:</label>
                  <div class="col-4">
                      <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-4">
              <div class="form-group row">
                  <label >Municipio:</label>
                    <input class="form-control" id="municipio2" formControlName="municipio2" type="text" >
              </div>
          </div>
        </div>
        <div class="row">
              <div class="form-group col-sm-4" >
                <label for="city">Colonia</label>
                <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.colonia.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.colonia.invalid &&
                  preinscripcionForm.controls.colonia.touched"></i>
                <input class="form-control" id="colonia" formControlName="colonia" type="text" >
                <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.colonia.invalid &&
                 preinscripcionForm.controls.colonia.touched">
                 El campo Colonia es obligatorio</p>
              </div>
              <div class="form-group col-sm-4" >
                  <label for="city">Calle</label>
                  <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.calle.valid"></i>
                 <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.calle.invalid &&
                  preinscripcionForm.controls.calle.touched"></i>
                  <input class="form-control" id="calle" formControlName="calle" type="text" >
                  <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.calle.invalid &&
                 preinscripcionForm.controls.calle.touched">
                 El campo Calle es obligatorio</p>
              </div>
              <div class="form-group col-sm-4" >
                  <label for="postal-code">Número</label>
                  <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.numero.valid"></i>
                  <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.numero.invalid &&
                  preinscripcionForm.controls.numero.touched"></i>
                  <input class="form-control" id="numero" formControlName="numero" type="text" >
                  <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.numero.invalid &&
                  preinscripcionForm.controls.numero.touched">
                  El campo Número es obligatorio</p>
                </div>
          </div>
      </div>
    </div>
    <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; margin-bottom: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
        <div class="card-body">
            <p style="text-align: center">DATOS DE LA MADRE/PADRE O TUTOR</p>
            <hr>
          <div class="row">
            <div class="form-group col-sm-4" >
              <label for="city">Nombre</label>
              <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.nombre1.valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.nombre1.invalid &&
              preinscripcionForm.controls.nombre1.touched"></i>
              <input class="form-control" id="nombre1" formControlName="nombre1" type="text">
              <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.nombre1.invalid &&
                  preinscripcionForm.controls.nombre1.touched">
                  El campo Nombre es obligatorio</p>
            </div>
            <div class="form-group col-sm-4" >
                <label for="city">Apellido Paterno</label>
                <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.apellidop1.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.apellidop1.invalid &&
                  preinscripcionForm.controls.apellidop1.touched"></i>
                <input class="form-control" id="apellidop1" formControlName="apellidop1" type="text">
                <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.apellidop1.invalid &&
                  preinscripcionForm.controls.apellidop1.touched">
                  El campo Apellido Paterno es obligatorio</p>
            </div>
              <div class="form-group col-sm-4" >
                  <label for="city">Apellido Materno</label>
                  <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.apellidom1.valid"></i>
                  <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.apellidom1.invalid &&
                  preinscripcionForm.controls.apellidom1.touched"></i>
                  <input class="form-control" id="apellidom1" formControlName="apellidom1" type="text">
                  <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.apellidom1.invalid &&
                  preinscripcionForm.controls.apellidom1.touched">
                  El campo Apellido Materno es obligatorio</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <label>Fecha de nacimiento</label>
                  <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.fecha2.valid"></i>
                  <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.fecha2.invalid &&
                    preinscripcionForm.controls.fecha2.touched"></i>
                <div class="input-group">
                  <input class="form-control" formControlName="fecha2" [minDate]="minDate" [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp2="bsDatepicker" [bsConfig]="bsConfig">
                  <div class="input-group-btn">
                      <button type="button" class="btn btn-calendar" (click)="dp2.show() " ><i class="fas fa-calendar-alt"></i></button>
                  </div>
                </div>
                <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.fecha2.invalid &&
                preinscripcionForm.controls.fecha2.touched">
                 El campo Fecha es obligatorio</p>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="form-group row">
                      <label >Nivel de Estudios:</label>
                      <div class="col-4">
                          <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
                      </div>
                  </div>
              </div>
                <div class="form-group col-sm-4" >
                    <label for="postal-code">Ocupación</label>
                    <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.ocupacion.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.ocupacion.invalid &&
                    preinscripcionForm.controls.ocupacion.touched"></i>
                    <input class="form-control" id="ocupacion" formControlName="ocupacion" type="text" >
                    <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.ocupacion.invalid &&
                  preinscripcionForm.controls.ocupacion.touched">
                  El campo Ocupación es obligatorio</p>
                  </div>
            </div>
        </div>
      </div>
      <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; margin-bottom: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
          <div class="card-body">
            <div class="row">
                <div class="form-group col-md-12 text-center"  >
                  <div class="col-md-12">
                      <label for="postal-code">Subir Imagen del Aspirante </label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.suimagen.valid"></i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.suimagen.invalid &&
                      preinscripcionForm.controls.suimagen.touched"></i>
                  </div>
                    <div class="col-md-12">
                        <img src="../../assets/images/alumnos/profile.png"  style="width:200px; height:200px; " alt=""/>
                    </div>
                  <div class="custom-file col-md-4" style="margin-top: 20px">
                      <input type="file" formControlName="suimagen" class="custom-file-input" id="customFileLang" lang="es">
                      <label class="custom-file-label"  for="customFileLang">Seleccionar Archivo</label>
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.suimagen.invalid &&
                      preinscripcionForm.controls.suimagen.touched">
                      El campo Imagen es obligatorio </p>
                  </div>
                  <div class="col-md-12">
                      <button type="submit" style="background-color: #AB2E5F; margin-top: 30px; color:white; border-radius: 30px; width:90px; height:40px; border: 0px !important" [disabled]=!preinscripcionForm.valid>Guardar</button>
                      <p class="alert alert-danger" *ngIf="!preinscripcionForm.valid">
                          Por favor complete los campos
                      </p>
                  </div>
                
                </div>
            </div>
          </div>
        </div>

</form>
        <app-footer></app-footer>
  </div>
</div>
  
        