<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper"> 
  <div id="content-wrapper">
      <ngb-alert class="float-right" style="z-index: 100" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      <ngb-alert class="float-right" style="z-index: 100" *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
    <form [formGroup]="preinscripcionForm" (ngSubmit)="onSubmit()">
      <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
            <div class="card-body">
              <p style="text-align: center">ESCUELA A LA QUE DESEA INGRESAR</p>
              <hr> 
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="city">Escuela</label>
                  <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.idEscuela.valid"></i>
                  <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.idEscuela.invalid &&
                  preinscripcionForm.controls.idEscuela.touched"></i>
                  <ng-select [items]="escuelaSelect"
                      bindLabel="name"
                      bindValue="id"
                      placeholder="Selecciona"
                      formControlName="idEscuela"
                      [(ngModel)]="idEscuela"
                      (change)="changeEsc()">
                  </ng-select>
                  <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.idEscuela.invalid &&
                  preinscripcionForm.controls.idEscuela.touched">
                  El campo Escuela es obligatorio</p>
                </div>
                <div class="form-group col-sm-6">
                    <label for="city">Carrera</label>
                    <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.idCarrera.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.idCarrera.invalid &&
                    preinscripcionForm.controls.idCarrera.touched"></i>
                    <ng-select [items]="carreraSelect"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Selecciona"
                        formControlName="idCarrera">
                    </ng-select>
                    <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.idCarrera.invalid &&
                    preinscripcionForm.controls.idCarrera.touched">
                    El campo Carrera es obligatorio</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
        <div class="card-body">
          <p style="text-align: center">DATOS PERSONALES</p>
          <hr>
        <div class="row">
          <div class="form-group col-sm-4" >
            <label for="city">Nombre del Aspirante</label>
            <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.nombre.valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.nombre.invalid &&
                preinscripcionForm.controls.nombre.touched"></i>
            <input class="form-control" id="nombre" formControlName="nombre" type="text" >
            <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.nombre.invalid &&
                  preinscripcionForm.controls.nombre.touched">
                  El campo Nombre es obligatorio</p>
          </div>
          <div class="form-group col-sm-4" >
            <label for="postal-code">Apellido Paterno</label>
            <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.apellidoP.valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.apellidoP.invalid &&
                preinscripcionForm.controls.apellidoP.touched"></i>
            <input class="form-control" id="apellidop" formControlName="apellidoP" type="text" >
            <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.apellidoP.invalid &&
                  preinscripcionForm.controls.apellidoP.touched">
                  El campo Apellido Paterno es obligatorio</p>
          </div>
          <div class="form-group col-sm-4" >
              <label>Apellido Materno</label>
              <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.apellidoM.valid"></i>
              <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.apellidoM.invalid &&
                preinscripcionForm.controls.apellidoM.touched"></i>
              <input class="form-control" id="apellidom" formControlName="apellidoM" type="text" >
              <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.apellidoM.invalid &&
                  preinscripcionForm.controls.apellidoM.touched">
                  El campo Apellido Materno es obligatorio</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4" >
              <label for="city">Curp</label>
              <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.curp.valid"></i>
              <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.curp.invalid &&
              preinscripcionForm.controls.curp.touched"></i>
              <input class="form-control" id="curp" formControlName="curp" type="text" pattern="([A-Z]{4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM](AS|BC|BS|CC|CL|CM|CS|CH|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[A-Z]{3}[0-9A-Z]\d)">
              <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.curp.invalid &&
              preinscripcionForm.controls.curp.touched">
              El campo Curp es obligatorio</p>
            </div>
            <div class="form-group col-sm-4" >
              <label for="postal-code">Sexo</label>
              <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.sexo.valid"></i>
              <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.sexo.invalid &&
              preinscripcionForm.controls.sexo.touched"></i>
              <div class="col-12">
                <ng-select [items]="sexoSelect"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Selecciona"
                  formControlName="sexo">
                </ng-select>
                <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.sexo.invalid &&
                preinscripcionForm.controls.sexo.touched">
                El campo Sexo es obligatorio</p>
            </div>
            </div>
            <div class="col-md-4">
                <label>Fecha de nacimiento</label>
                <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.fechaNac.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.fechaNac.invalid &&
                preinscripcionForm.controls.fechaNac.touched"></i>
                <div class="input-group">
                  <input class="form-control" [minDate]="minDate" formControlName="fechaNac" [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig">
                  <div class="input-group-btn">
                      <button  type="button" class="btn btn-calendar" (click)="dp.show() " ><i class="fas fa-calendar-alt"></i></button>
                  </div>
                </div>
                <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.fechaNac.invalid &&
                  preinscripcionForm.controls.fechaNac.touched">
                El campo Fecha es obligatorio</p>
            </div>
          </div>
      </div>
      </div>
      <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
        <div class="card-body">
            <p style="text-align: center">DATOS DE CONTACTO</p>
            <hr>
          <div class="row">
            <div class="form-group col-sm-4" >
              <label for="postal-code">Teléfono Fijo</label>
              <input class="form-control" id="telfijo" formControlName="telefono" pattern="[0-9]{10}"  type="number" >
            </div>
            <div class="form-group col-sm-4" >
                <label for="postal-code">Teléfono Celular</label>
                <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.celular.valid"></i>
              <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.celular.invalid &&
                preinscripcionForm.controls.celular.touched"></i>
                <input class="form-control" id="telcel" formControlName="celular" pattern="[0-9]{10}" type="number" >
                <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.celular.invalid &&
                preinscripcionForm.controls.celular.touched">
                El campo Teléfono Celular es obligatorio</p>
            </div>
            <div class="form-group col-sm-4" >
                <label for="city">Correo Electrónico</label>
                <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.email.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.email.invalid &&
                  preinscripcionForm.controls.email.touched"></i>
                <input class="form-control" id="correo" formControlName="email" type="email" >
                <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.email.invalid &&
                  preinscripcionForm.controls.email.touched">
                  Correo Electrónico no válido</p>
              </div>
          </div>
        </div>
      </div>
      <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
          <div class="card-body">
              <p style="text-align: center">DOMICILIO ASPIRANTE</p>
              <hr>
            <div class="row">
              <div class="form-group col-sm-4" >
                <label for="city">Código Postal</label>
                <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.cp.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.cp.invalid &&
                  preinscripcionForm.controls.cp.touched"></i>
                <input class="form-control"  id="codpos" formControlName="cp" pattern="[0-9]{5}" type="number"  >
                <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.cp.invalid &&
                preinscripcionForm.controls.cp.touched">
                El campo Código Postal es obligatorio</p>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="form-group row">
                      <label>Estado:</label>
                      <div class="col-12">
                          <ng-select [items]="estadosSelect"
                            bindLabel="name"
                            bindValue="id"
                            placeholder="Selecciona"
                            [(ngModel)]="idEstado"
                            (change)="change()"
                            [ngModelOptions]="{standalone: true}">
                          </ng-select>
                      </div>
                  </div>
              </div>
              <div class="form-group col-sm-4" >
                <label for="postal-code">Municipio</label>
                <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.idMunicipio.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.idMunicipio.invalid &&
                preinscripcionForm.controls.idMunicipio.touched"></i>
                <div class="col-12">
                    <ng-select [items]="municipiosSelect"
                      bindLabel="name"
                      bindValue="id"
                      placeholder="Selecciona"
                      formControlName="idMunicipio">
                    </ng-select>
                    <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.idMunicipio.invalid &&
                    preinscripcionForm.controls.idMunicipio.touched">
                    El campo Municipio depende del Estado</p>
                </div>
              </div>
            </div>
            <div class="row">
                  <div class="form-group col-sm-4" >
                    <label for="city">Colonia</label>
                    <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.colonia.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.colonia.invalid &&
                      preinscripcionForm.controls.colonia.touched"></i>
                    <input class="form-control" id="colonia" formControlName="colonia" type="text" >
                    <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.colonia.invalid &&
                    preinscripcionForm.controls.colonia.touched">
                    El campo Colonia es obligatorio</p>
                  </div>
                  <div class="form-group col-sm-4" >
                      <label for="city">Calle</label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.calle.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.calle.invalid &&
                      preinscripcionForm.controls.calle.touched"></i>
                      <input class="form-control" id="calle" formControlName="calle" type="text" >
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.calle.invalid &&
                    preinscripcionForm.controls.calle.touched">
                    El campo Calle es obligatorio</p>
                  </div>
                  <div class="form-group col-sm-4" >
                      <label for="postal-code">Número</label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.numero.valid"></i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.numero.invalid &&
                      preinscripcionForm.controls.numero.touched"></i>
                      <input class="form-control" id="numero" formControlName="numero" type="text" >
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.numero.invalid &&
                      preinscripcionForm.controls.numero.touched">
                      El campo Número es obligatorio</p>
                    </div>
              </div>
          </div>
      </div>
      <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; margin-bottom: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
            <div class="card-body">
                <p style="text-align: center">DATOS DE LA MADRE/PADRE O TUTOR</p>
                <hr>
              <div class="row">
                <div class="form-group col-sm-4" >
                  <label for="city">Nombre</label>
                  <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.nombreTutor.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.nombreTutor.invalid &&
                  preinscripcionForm.controls.nombreTutor.touched"></i>
                  <input class="form-control" id="nombre1" formControlName="nombreTutor" type="text">
                  <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.nombreTutor.invalid &&
                      preinscripcionForm.controls.nombreTutor.touched">
                      El campo Nombre es obligatorio</p>
                </div>
                <div class="form-group col-sm-4" >
                    <label for="city">Apellido Paterno</label>
                    <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.apellidoPTutor.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.apellidoPTutor.invalid &&
                      preinscripcionForm.controls.apellidoPTutor.touched"></i>
                    <input class="form-control" id="apellidop1" formControlName="apellidoPTutor" type="text">
                    <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.apellidoPTutor.invalid &&
                      preinscripcionForm.controls.apellidoPTutor.touched">
                      El campo Apellido Paterno es obligatorio</p>
                </div>
                  <div class="form-group col-sm-4" >
                      <label for="city">Apellido Materno</label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.apellidoMTutor.valid"></i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.apellidoMTutor.invalid &&
                      preinscripcionForm.controls.apellidoMTutor.touched"></i>
                      <input class="form-control" id="apellidom1" formControlName="apellidoMTutor" type="text">
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.apellidoMTutor.invalid &&
                      preinscripcionForm.controls.apellidoMTutor.touched">
                      El campo Apellido Materno es obligatorio</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label>Fecha de nacimiento</label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.fechaNacTutor.valid"></i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.fechaNacTutor.invalid &&
                        preinscripcionForm.controls.fechaNacTutor.touched"></i>
                    <div class="input-group">
                      <input class="form-control" formControlName="fechaNacTutor" [minDate]="minDate" [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp2="bsDatepicker" [bsConfig]="bsConfig">
                      <div class="input-group-btn">
                          <button type="button" class="btn btn-calendar" (click)="dp2.show() " ><i class="fas fa-calendar-alt"></i></button>
                      </div>
                    </div>
                    <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.fechaNacTutor.invalid &&
                    preinscripcionForm.controls.fechaNacTutor.touched">
                    El campo Fecha es obligatorio</p>
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <label for="postal-code">Teléfono</label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.telefonoTutor.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.telefonoTutor.invalid &&
                      preinscripcionForm.controls.telefonoTutor.touched"></i>
                      <input class="form-control" id="telcel" formControlName="telefonoTutor" pattern="[0-9]{10}" type="number" >
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.telefonoTutor.invalid &&
                      preinscripcionForm.controls.telefonoTutor.touched">
                      El campo Teléfono es obligatorio</p>
                  </div>
                    <div class="form-group col-sm-4" >
                        <label for="postal-code">Correo Electrónico</label>
                        <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.emailTutor.valid"></i>
                        <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.emailTutor.invalid &&
                        preinscripcionForm.controls.emailTutor.touched"></i>
                        <input class="form-control" id="ocupacion" formControlName="emailTutor" type="text" >
                        <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.emailTutor.invalid &&
                      preinscripcionForm.controls.emailTutor.touched">
                      Correo Electrónico no válido</p>
                      </div>
                </div>
            </div>
      </div>
      <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; margin-bottom: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
          <div class="card-body">
            <p style="text-align: center">DOCUMENTACIÓN DEL ASPIRANTE</p>
            <hr>
            <div class="row">
                <div class="form-group col-md-12 text-center">
                  <div class="custom-file col-md-12">
                      <label for="postal-code" style="margin-top: 30px">Subir Acta de Nacimiento del Aspirante </label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.urlActa.valid"></i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.urlActa.invalid &&
                      preinscripcionForm.controls.urlActa.touched"></i>
                  </div>
                  <div class="col-md-12" style="margin-top: 20px">
                      <input accept="application/pdf" type="file" formControlName="urlActa" (change)="cargandoUrlActa($event)">
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.urlActa.invalid &&
                      preinscripcionForm.controls.urlActa.touched">
                      El campo acta de nacimineto es obligatorio </p>
                  </div>
                  <div class="col-md-12">
                      <label for="postal-code" style="margin-top: 30px">Subir Constancia con Calificaciones del Aspirante </label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.urlConstancia.valid"></i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.urlConstancia.invalid &&
                      preinscripcionForm.controls.urlConstancia.touched"></i>
                  </div>
                  <div class="col-md-12" style="margin-top: 20px">
                      <input accept="application/pdf" type="file" formControlName="urlConstancia" (change)="cargandoUrlConstancia($event)">
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.urlConstancia.invalid &&
                      preinscripcionForm.controls.urlConstancia.touched">
                      El campo Constancia con Calificaciones es obligatorio </p>
                  </div>
                  <div class="col-md-12">
                      <label for="postal-code" style="margin-top: 30px">Subir Credencial de Elector del Tutor o Aspirante </label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.urlCredencial.valid"></i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.urlCredencial.invalid &&
                      preinscripcionForm.controls.urlCredencial.touched"></i>
                  </div>
                  <div class="col-md-12" style="margin-top: 20px">
                      <input accept="application/pdf" type="file" formControlName="urlCredencial" (change)="cargandoUrlCredencial($event)">
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.urlCredencial.invalid &&
                      preinscripcionForm.controls.urlCredencial.touched">
                      El campo Credencial de Elector es obligatorio </p>
                  </div>
                  <div class="col-md-12">
                      <label for="postal-code" style="margin-top: 30px">Subir Comprobante de Domicilio del Aspirante </label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.urlComprobante.valid"></i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.urlComprobante.invalid &&
                      preinscripcionForm.controls.urlComprobante.touched"></i>
                  </div>
                  <div class="col-md-12" style="margin-top: 20px">
                      <input accept="application/pdf" type="file" formControlName="urlComprobante" (change)="cargandoUrlComprobante($event)">
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.urlComprobante.invalid &&
                      preinscripcionForm.controls.urlComprobante.touched">
                      El campo Comprobante de Domicilio es obligatorio </p>
                  </div>
                </div>
            </div>
          </div>
      </div>
      <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; margin-bottom: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
          <div class="card-body">
            <p style="text-align: center">IMAGEN DEL ASPIRANTE</p>
            <hr>
            <div class="row">
                <div class="form-group col-md-12 text-center"  >
                  <div class="col-md-12">
                      <label for="postal-code">Subir Imagen del Aspirante </label>
                      <i class="fa fa-check-circle check" *ngIf="preinscripcionForm.controls.urlImagen.valid"></i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="preinscripcionForm.controls.urlImagen.invalid &&
                      preinscripcionForm.controls.urlImagen.touched"></i>
                  </div>
                    <div class="col-md-12">
                        <img src="http://localhost:8080/Apis/assets/images/alumnos/{{urlImagen}}"  style="width:200px; height:200px; " alt=""/>
                    </div>
                  <div class="custom-file col-md-4" style="margin-top: 20px">
                      <input (change)="cargandoImagen($event)" accept="image/*" type="file" formControlName="urlImagen" class="custom-file-input" id="customFileLang" lang="es">
                      <label class="custom-file-label"  for="customFileLang">Seleccionar Archivo</label>
                      <p class="alert alert-danger" *ngIf="preinscripcionForm.controls.urlImagen.invalid &&
                      preinscripcionForm.controls.urlImagen.touched">
                      El campo Imagen es obligatorio </p>
                  </div>
                  <div class="col-md-12">
                      <button type="submit"  style="background-color: #AB2E5F; margin-top: 30px; color:white; border-radius: 30px; width:90px; height:40px; border: 0px !important" [disabled]=!preinscripcionForm.valid>Guardar</button>
                      <p class="alert alert-danger" *ngIf="!preinscripcionForm.valid">
                          Por favor complete los campos
                      </p>
                  </div>
                
                </div>
            </div>
          </div>
      </div>
    </form>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
                <div class="modal-body">
                  <div class="card">
                     <div class="card-header">
                        <strong >Registro exitoso</strong>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div  class="form-group">
                                    <button style="margin-left: 150px" type="submit" class="btn btn-fill btn-rose " routerLinkActive="active" routerLink="/preinscripciones/recibo/{{idCandidato}}" >Imprimir Recibo</button>
                                </div>
                              </div>       
                        </div>
                      </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
  <app-footer></app-footer>
  </div>
</div>
  
        