<div id="wrapper">
    <app-menu-admin></app-menu-admin>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar Carrera</button>
            </div>
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                   Carreras
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 33%">
                                  Descripción
                              </th>
                              <th style="width: 34%">
                                Acciones
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of data">
                              <td>{{item.descripcion}}</td>
                              <td><button [id]="item.clave" type='button' (click)='modificar()' class='btn btn-warning' title='Modificar'><i class='fas fa-edit'></i></button><button type='button' (click)='status()' class='btn btn-danger' title='Status'><i class='far fa-check-circle'></i></button></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal-modificar" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                          <div class="modal-body">
                            <div class="card">
                               <div class="card-header">
                                  <strong *ngIf="modal == 'modificar'">Modificar Carrera</strong>
                                  <strong *ngIf="modal == 'agregar'">Agregar Carera</strong>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="carreraForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                      <div class="center-block">
                                        <div class="col-sm-12 ">
                                          <div class="form-group">
                                            <label for="materia">Descripción</label>
                                            <i class="fa fa-check-circle check" *ngIf="carreraForm.controls.descripcion.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="carreraForm.controls.descripcion.invalid &&
                                            carreraForm.controls.descripcion.touched"></i>
                                            <input  class="form-control" id="descripcion" type="text" formControlName="descripcion">
                                            <p class="alert alert-danger" *ngIf="carreraForm.controls.descripcion.invalid &&
                                            carreraForm.controls.descripcion.touched">
                                            El campo Título es obligatorio</p>
                                          </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div *ngIf="modal == 'modificar'" class="form-group">
                                                <button type="submit" class="btn btn-fill btn-rose " [disabled]=!carreraForm.valid>Modificar</button>
                                                <p class="alert alert-danger" *ngIf="!carreraForm.valid">
                                                    Por favor complete los campos
                                                </p>
                                              </div>
                                              <div *ngIf="modal == 'agregar'" class="form-group">
                                                <button type="submit" class="btn btn-fill btn-rose " [disabled]=!carreraForm.valid>Agregar</button>
                                                <p class="alert alert-danger" *ngIf="!carreraForm.valid">
                                                    Por favor complete los campos
                                                </p>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>

