<div id="wrapper">
  <!-- Sidebar -->
  <app-menu-alum></app-menu-alum>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <div class="card" style="margin-left: 30px; margin-right: 30px">
          <div class="card-body">
            <form [formGroup]="estudiosForm" >
              <div class="row">
                <div class="form-group col-sm-6" >
                  <label for="city">Nombre de la Institución</label>
                  <input class="form-control" formControlName="nombre"  type="text" disabled>
                </div>
                <div class="form-group col-sm-6" >
                  <label for="postal-code">Clave</label>
                  <input class="form-control" formControlName="clave"  type="text" disabled>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6" >
                  <label for="city">Nivel</label>
                  <input class="form-control" formControlName="idSeccion"  type="text" disabled>
                </div>
                <div class="form-group col-sm-6" >
                  <label for="postal-code">Calle</label>
                  <input class="form-control"  formControlName="calle"  type="text" disabled>
                </div>
              </div>
              <div class="row">
                  <div class="form-group col-sm-6" >
                    <label for="city">Direccción</label>
                    <input class="form-control" formControlName="colonia"  type="text" disabled>
                  </div>
                  <div class="form-group col-sm-6" >
                    <label for="postal-code">Código Postal</label>
                    <input class="form-control" formControlName="cp"  type="text" disabled>
                  </div>
              </div>
              <div class="row">
                    <div class="form-group col-sm-6" >
                      <label for="city">Municipio</label>
                      <input class="form-control" formControlName="idMunicipio"  type="text" disabled>
                    </div>
                    <div class="form-group col-sm-6" >
                      <label for="postal-code">Estado</label>
                      <input class="form-control" formControlName="idEstado" type="text" disabled>
                    </div>
              </div>
              <div class="row">
                      <div class="form-group col-sm-6" >
                        <label for="city">Email</label>
                        <input class="form-control" formControlName="email"  type="email" disabled>
                      </div>
                      <div class="form-group col-sm-6" >
                        <label for="postal-code">Teléfono</label>
                        <input class="form-control" formControlName="telefono"  type="text" disabled>
                      </div>
              </div>
            </form>
          </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
