<div id="wrapper">
    <app-menu-admin></app-menu-admin>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar Subciclo</button>
            </div>
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                    Subciclos
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 25%">
                                  Descripción
                              </th>
                              <th style="width: 25%">
                                  Fecha Inicio
                              </th>
                              <th style="width: 25%">
                                  Fecha Final
                                </th>
                              <th style="width: 25%">
                                Acciones
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of data">
                              <td>{{item.descripcion}}</td>
                              <td>{{item.fechain}}</td>
                              <td>{{item.fechafin}}</td>
                              <td><button [id]="item.clave" type='button' (click)='modificar()' class='btn btn-warning' title='Modificar'><i class='fas fa-edit'></i></button><button type='button' (click)='status()' class='btn btn-danger' title='Status'><i class='far fa-check-circle'></i></button></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal-modificar" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                          <div class="modal-body">
                            <div class="card">
                               <div class="card-header">
                                  <strong>Modificar Subciclo</strong>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia"> Ciclo</label>
                                            <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                              <label for="materia"> Descripción</label>
                                              <input  class="form-control" id="descripcion" type="text" value="Matemáticas">
                                            </div>
                                          </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                              <label for="materia">Fecha Inicio</label>
                                              <div class="input-group">
                                                  <input class="form-control" [minDate]="minDate"  [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp3="bsDatepicker" [bsConfig]="bsConfig">
                                                  <div class="input-group-btn">
                                                      <button  type="button" class="btn btn-calendar" (click)="dp3.show() " ><i class="fas fa-calendar-alt"></i></button>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                              <label for="materia">Fecha Final</label>
                                              <div class="input-group">
                                                  <input class="form-control" [minDate]="minDate"  [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp4="bsDatepicker" [bsConfig]="bsConfig">
                                                  <div class="input-group-btn">
                                                      <button  type="button" class="btn btn-calendar" (click)="dp4.show() " ><i class="fas fa-calendar-alt"></i></button>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>         
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-12 ">
                                              <div class="form-group">
                                               <button type="submit" class="btn btn-fill btn-rose ">Modificar</button>
                                             </div>
                                          </div> 
                                      </div>
                                  </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal-agregar" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                      <div class="modal-content">
                            <div class="modal-body">
                              <div class="card">
                                 <div class="card-header">
                                    <strong>Agregar Nuevo Subciclo</strong>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="card-body">
                                  <div class="row">
                                      <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia"> Ciclo</label>
                                          <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia"> Descripción</label>
                                            <input  class="form-control" id="descripcion" type="text" value="Matemáticas">
                                          </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia">Fecha Inicio</label>
                                            <div class="input-group">
                                                <input class="form-control" [minDate]="minDate"  [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp3="bsDatepicker" [bsConfig]="bsConfig">
                                                <div class="input-group-btn">
                                                    <button  type="button" class="btn btn-calendar" (click)="dp3.show() " ><i class="fas fa-calendar-alt"></i></button>
                                                </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia">Fecha Final</label>
                                            <div class="input-group">
                                                <input class="form-control" [minDate]="minDate"  [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp4="bsDatepicker" [bsConfig]="bsConfig">
                                                <div class="input-group-btn">
                                                    <button  type="button" class="btn btn-calendar" (click)="dp4.show() " ><i class="fas fa-calendar-alt"></i></button>
                                                </div>
                                              </div>
                                          </div>
                                      </div>         
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <div class="form-group">
                                             <button type="submit" class="btn btn-fill btn-rose ">Agregar</button>
                                           </div>
                                        </div> 
                                    </div>
                                </div>
                                </div>
                            </div>
                      </div>
                    </div>
                  </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>


