<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
    <app-menu-admin></app-menu-admin>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar Subciclo</button>
            </div>
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                    Subciclos
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 25%">
                                  Descripción
                              </th>
                              <th style="width: 25%">
                                  Fecha Inicio
                              </th>
                              <th style="width: 25%">
                                  Fecha Final
                                </th>
                              <th style="width: 25%">
                                Acciones
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of data">
                              <td>{{item.descripcion}}</td>
                              <td>{{item.fechaIni}}</td>
                              <td>{{item.fechaFin}}</td>
                              <td><button [id]="item.clave" type='button' (click)='modificar()' class='btn btn-warning' title='Modificar'><i class='fas fa-edit'></i></button><button type='button' (click)='status()' class='btn btn-danger' title='Status'><i class='far fa-check-circle'></i></button></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal-modificar" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                          <div class="modal-body">
                            <div class="card">
                               <div class="card-header">
                                  <strong *ngIf="modal == 'modificar'">Modificar Subciclo</strong>
                                  <strong *ngIf="modal == 'agregar'">Agregar Subciclo</strong>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="card-body">
                                  <form [formGroup]="subcicloForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia"> Ciclo</label>
                                            <i class="fa fa-check-circle check" *ngIf="subcicloForm.controls.idCiclo.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="subcicloForm.controls.idCiclo.invalid &&
                                            subcicloForm.controls.idCiclo.touched"></i>
                                            <ng-select [items]="cicloSelect"
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="Selecciona"
                                                formControlName="idCiclo">
                                            </ng-select>
                                            <p class="alert alert-danger" *ngIf="subcicloForm.controls.idCiclo.invalid &&
                                            subcicloForm.controls.idCiclo.touched">
                                            El campo Ciclo es obligatorio</p>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                              <label for="materia"> Descripción</label>
                                              <i class="fa fa-check-circle check" *ngIf="subcicloForm.controls.descripcion.valid"></i>
                                              <i class="fa fa-exclamation-circle uncheck" *ngIf="subcicloForm.controls.descripcion.invalid &&
                                              subcicloForm.controls.descripcion.touched"></i>
                                              <input  class="form-control" id="descripcion" type="text" formControlName="descripcion">
                                              <p class="alert alert-danger" *ngIf="subcicloForm.controls.descripcion.invalid &&
                                              subcicloForm.controls.descripcion.touched">
                                              El campo Descripción es obligatorio</p>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                              <label for="materia">Fecha Inicio</label>
                                              <i class="fa fa-check-circle check" *ngIf="subcicloForm.controls.fechaIni.valid"></i>
                                              <i class="fa fa-exclamation-circle uncheck" *ngIf="subcicloForm.controls.fechaIni.invalid &&
                                              subcicloForm.controls.fechaIni.touched"></i>
                                              <div class="input-group">
                                                  <input class="form-control" formControlName="fechaIni" [minDate]="minDate"  [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp3="bsDatepicker" [bsConfig]="bsConfig">
                                                  <div class="input-group-btn">
                                                      <button  type="button" class="btn btn-calendar" (click)="dp3.show() " ><i class="fas fa-calendar-alt"></i></button>
                                                  </div>
                                                  <p class="alert alert-danger" *ngIf="subcicloForm.controls.fechaIni.invalid &&
                                                  subcicloForm.controls.fechaIni.touched">
                                                  El campo Fecha Inicio es obligatorio</p>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                              <label for="materia">Fecha Final</label>
                                              <i class="fa fa-check-circle check" *ngIf="subcicloForm.controls.fechaFin.valid"></i>
                                              <i class="fa fa-exclamation-circle uncheck" *ngIf="subcicloForm.controls.fechaFin.invalid &&
                                              subcicloForm.controls.fechaFin.touched"></i>
                                              <div class="input-group">
                                                  <input class="form-control" formControlName="fechaFin" [minDate]="minDate"  [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp4="bsDatepicker" [bsConfig]="bsConfig">
                                                  <div class="input-group-btn">
                                                      <button  type="button" class="btn btn-calendar" (click)="dp4.show() " ><i class="fas fa-calendar-alt"></i></button>
                                                  </div>
                                                  <p class="alert alert-danger" *ngIf="subcicloForm.controls.fechaFin.invalid &&
                                                  subcicloForm.controls.fechaFin.touched">
                                                  El campo Fecha Final es obligatorio</p>
                                                </div>
                                            </div>
                                        </div>         
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-12 ">
                                              <div *ngIf="modal == 'modificar'" class="form-group">
                                                  <button type="submit" class="btn btn-fill btn-rose " [disabled]=!subcicloForm.valid>Modificar</button>
                                                  <p class="alert alert-danger" *ngIf="!subcicloForm.valid">
                                                      Por favor complete los campos
                                                  </p>
                                                </div>
                                                <div *ngIf="modal == 'agregar'" class="form-group">
                                                  <button type="submit" class="btn btn-fill btn-rose " [disabled]=!subcicloForm.valid>Agregar</button>
                                                  <p class="alert alert-danger" *ngIf="!subcicloForm.valid">
                                                      Por favor complete los campos
                                                  </p>
                                                </div>
                                          </div> 
                                      </div>
                                  </form>
                                  </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>


