<div id="wrapper">
    <app-menu></app-menu>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <div class="container">
          <div class="row">
            <!-- grupo -->
            <div class="col-sm-6 col-md-4">
                <div class="form-group row">
                    <label for="idGrupo" class="col-2 form-label">Grupo:</label>
                    <div class="col-4">
                      <input class="form-control" type="text" value="402" id="idGrupo" disabled>
                    </div>
                </div>
            </div>
            <!-- grado -->
            <div class="col-sm-6 col-md-4">
                <div class="form-group row">
                    <label for="idGrado" class="col-2 form-label">Grado:</label>
                    <div class="col-4">
                      <input class="form-control" type="text" value="4 año" id="idGrado" disabled>
                    </div>
                </div>
            </div>
            <!-- materia -->
            <div class="col-sm-12 col-md-4">
                <div class="form-group row">
                    <label for="materia" class="col-2 form-label">Materia:</label>
                    <div class="col-4">
                        <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                   Alumnos
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 20%">
                                  Num. Lista
                              </th>
                              <th style="width: 20%">
                                  Apellido Paterno
                              </th>
                              <th style="width: 20%">
                                  Apellido Materno
                              </th>
                              <th style="width: 20%">
                                  Nombre(s)
                              </th>
                              <th style="width: 20%">
                                Calificación
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of data">
                              <td>{{item.numero}}</td>
                              <td>{{item.apellidoP}}</td>
                              <td>{{item.apellidoM}}</td>
                              <td>{{item.nombre}}</td>
                              <td>{{item.cal}}</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>