<div id="wrapper">
    <app-menu></app-menu>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <div class="container">
                <div class="row">
                        <!-- grupo -->
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group row">
                                <label for="idGrupo" class="col-2 form-label">Grupo:</label>
                                <div class="col-4">
                                  <input class="form-control" type="text" value="{{clave}}" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- ciclo -->
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group row">
                                <label for="idGrado" class="col-2 form-label">Ciclo:</label>
                                <div class="col-4">
                                  <input class="form-control" type="text" value="{{ciclo}}" id="idGrado" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- materia -->
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group row">
                                <label for="materia" class="col-2 form-label">Materia:</label>
                                <div class="col-4">
                                    <input class="form-control" type="text" value="{{materia}}"  disabled>
                                </div>
                            </div>
                        </div>
                      </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                   Alumnos
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table #dataTable class="row-border hover" style="width:100%">
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>