.register-photo {
 
  padding:80px 0;
}
.register-photo .image-holder {
  display:table-cell;
  width:auto;
  background:url(../../assets/images/logo.JPG);
  background-size:cover;
}
.register-photo .form-container {
  display:table;
  max-width:900px;
  width:90%;
  margin:0 auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}
.register-photo form {
  display:table-cell;
  width:400px;
  height: 400px;
  background-color:#ffffff;
  padding:40px 60px;
  color:#505e6c;
}
@media (max-width:991px) {
  .register-photo form {
      padding:40px;
  }
}
.register-photo form h2 {
  font-size:24px;
  line-height:1.5;
  margin-bottom:50px;
  margin-top: 10px;
}

.register-photo form .btn-primary {
  background:#EC1163;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:35px;
  text-shadow:none;
  outline:none !important;
}
.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background:#eb3b60;
}
.register-photo form .btn-primary:active {
  transform:translateY(1px);
}
.register-photo form .already {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}
.register-photo form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}
.btn-primary{
  background-color: #2B2829;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:35px;
  text-shadow:none;
  outline:none !important;
}
.btn-primary:hover, .register-photo form .btn-primary:active {
  background:#403B3C;
}
.btn-primary:active {
  transform:translateY(1px);
}
.check {
  color: #42A948;
  float: right;
}
.uncheck {
  color: #A94442;
  float: right;
}