<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
  <app-menu-admin></app-menu-admin>
  <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar</button>
          </div>
          <div class="col-sm-12">
            <div class="card tabla mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                  Actas
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover">
                        <thead>
                        <tr>
                            <th style="width: 17%">
                                Sección
                            </th>
                            <th style="width: 17%">
                                Periodo
                            </th>
                            <th style="width: 17%">
                                Carrera
                            </th>
                            <th style="width: 17%">
                                No. de Evaluación
                            </th>  
                            <th style="width: 16%">
                              Fecha Inicio
                            </th>
                            <th style="width: 16%">
                                Fecha Final
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.idSeccion}}</td>
                            <td>{{item.idPeriodo}}</td>
                            <td>{{item.idCarrera}}</td>
                            <td>{{item.numEvaluacion}}</td>
                            <td>{{item.fechaIni}}</td>
                            <td>{{item.fechaFin}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                        <div class="modal-body">
                          <div class="card">
                             <div class="card-header">
                                    <strong>Agregar</strong>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="card-body">
                                <form [formGroup]="actaForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia"> Sección</label>
                                            <i class="fa fa-check-circle check" *ngIf="actaForm.controls.idSeccion.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="actaForm.controls.idSeccion.invalid &&
                                            actaForm.controls.idSeccion.touched"></i>
                                            <ng-select [items]="seccionSelect"
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="Selecciona"
                                                formControlName="idSeccion">
                                            </ng-select>
                                            <p class="alert alert-danger" *ngIf="actaForm.controls.idSeccion.invalid &&
                                            actaForm.controls.idSeccion.touched">
                                            El campo Sección es obligatorio</p>
                                          </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia"> Periodo</label>
                                            <i class="fa fa-check-circle check" *ngIf="actaForm.controls.idPeriodo.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="actaForm.controls.idPeriodo.invalid &&
                                            actaForm.controls.idPeriodo.touched"></i>
                                            <ng-select [items]="periodoSelect"
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="Selecciona"
                                                formControlName="idPeriodo">
                                            </ng-select>
                                            <p class="alert alert-danger" *ngIf="actaForm.controls.idPeriodo.invalid &&
                                            actaForm.controls.idPeriodo.touched">
                                            El campo Periodo es obligatorio</p>
                                          </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia">Número de Evaluación</label>
                                          <i class="fa fa-check-circle check" *ngIf="actaForm.controls.numEvaluacion.valid"></i>
                                          <i class="fa fa-exclamation-circle uncheck" *ngIf="actaForm.controls.numEvaluacion.invalid &&
                                          actaForm.controls.numEvaluacion.touched"></i>  
                                        <input  class="form-control" id="apm" formControlName="numEvaluacion" type="text" >
                                        <p class="alert alert-danger" *ngIf="actaForm.controls.numEvaluacion.invalid &&
                                        actaForm.controls.numEvaluacion.touched">
                                        El campo Número de Evaluación es obligatorio</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia">Fecha Inicio</label>
                                          <i class="fa fa-check-circle check" *ngIf="actaForm.controls.fechaIni.valid"></i>
                                          <i class="fa fa-exclamation-circle uncheck" *ngIf="actaForm.controls.fechaIni.invalid &&
                                          actaForm.controls.fechaIni.touched"></i>  
                                          <div class="input-group">
                                            <input [bsValue]="bsValue" class="form-control" [minDate]="minDate" [maxDate]="maxDate" placeholder="dd/mm/aaaa" formControlName="fechaIni" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" >
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-calendar" (click)="dp.show() " ><i class="fas fa-calendar-alt"></i></button>
                                            </div>
                                            <p class="alert alert-danger" *ngIf="actaForm.controls.fechaIni.invalid &&
                                            actaForm.controls.fechaIni.touched">
                                            El campo Fecha Inicio es obligatorio</p>
                                          </div>
                                        </div>
                                    </div>     
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia">Fecha Final</label>
                                          <i class="fa fa-check-circle check" *ngIf="actaForm.controls.fechaFin.valid"></i>
                                          <i class="fa fa-exclamation-circle uncheck" *ngIf="actaForm.controls.fechaFin.invalid &&
                                          actaForm.controls.fechaFin.touched"></i>  
                                          <div class="input-group">
                                            <input [bsValue]="bsValue" class="form-control" [minDate]="minDate" [maxDate]="maxDate" placeholder="dd/mm/aaaa" formControlName="fechaFin" bsDatepicker #dp2="bsDatepicker" [bsConfig]="bsConfig" >
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-calendar" (click)="dp2.show() " ><i class="fas fa-calendar-alt"></i></button>
                                            </div>
                                            <p class="alert alert-danger" *ngIf="actaForm.controls.fechaFin.invalid &&
                                            actaForm.controls.fechaFin.touched">
                                            El campo Fecha Final es obligatorio</p>
                                          </div>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12 col-md-6">
                                        <button type="submit" class="btn btn-fill btn-rose float-right" [disabled]=!actaForm.valid>Agregar</button>
                                        <p class="alert alert-danger" *ngIf="!actaForm.valid">
                                            Por favor complete los campos
                                        </p>
                                    </div>
                                </div>
                                
                                
                                </form>
                              </div>
                            </div>
                        </div>
                  </div>
                </div>
              </div>

            </div> 
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

