<div id="wrapper">
    <app-menu-superuser></app-menu-superuser>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar Escuela</button>
            </div>
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                   Escuelas
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table  datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 20%">
                                  Clave
                              </th>
                              <th style="width: 20%">
                                  Nombre
                              </th>
                              <th style="width: 20%">
                                  Correo Electrónico
                              </th>
                              <th style="width: 20%">
                                  Teléfono
                              </th>
                              <th style="width: 20%">
                                Acciones
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of data">
                              <td>{{item.clave}}</td>
                              <td>{{item.nombre}}</td>
                              <td>{{item.email}}</td>
                              <td>{{item.telefono}}</td>
                              <td>
                                <button type='button' (click)='modificar(item.clave)' class='btn btn-warning' title='Modificar'>
                                  <i class='fas fa-edit'></i>
                                </button>
                                <button *ngIf="item.estatus == 1" type='button' (click)='status(item.clave,item.estatus)' class='btn btn-success' title='Activo'>
                                  <i class='far fa-check-circle'></i>
                                </button>
                                <button *ngIf="item.estatus == 0" type='button' (click)='status(item.clave,item.estatus)' class='btn btn-danger' title='Inactivo'>
                                    <i class="far fa-times-circle"></i>
                                </button>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal-modificar" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                          <div class="modal-body">
                            <div class="card">
                               <div class="card-header">
                                  <strong>Modificar Escuela</strong>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="card-body">
                                  <form [formGroup]="escuelaForm" (ngSubmit)="onSubmit()">
                                        <div class="row">
                                          <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                              <label>Sección</label>
                                              <ng-select [items]="seccionesSelect"
                                                        bindLabel="name"
                                                        bindValue="id"
                                                        placeholder="Selecciona"
                                                        formControlName="idSeccion">
                                              </ng-select>
                                            </div>
                                          </div>
                                          <div class="col-sm-12 col-md-6">
                                              <div class="form-group">
                                                <label for="clave">Clave</label>
                                                <input  name="clave" class="form-control" id="clave" type="text" formControlName="clave">
                                              </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                              <div class="form-group">
                                                <label for="nombre">Nombre</label>
                                                <input name="nombre"  class="form-control" id="nombre" type="text" formControlName="nombre">
                                              </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                  <label>Estado</label>
                                                  <ng-select [items]="estadosSelect"
                                                        bindLabel="name"
                                                        bindValue="id"
                                                        placeholder="Selecciona"
                                                        [(ngModel)]="idEstado"
                                                        (change)="change()"
                                                        [ngModelOptions]="{standalone: true}">
                                                  </ng-select>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label >Municipio</label>
                                                    <ng-select [items]="municipiosSelect"
                                                        bindLabel="name"
                                                        bindValue="id"
                                                        placeholder="Selecciona"
                                                        formControlName="idMunicipio">
                                                  </ng-select>
                                                </div>
                                              </div>
                                              <div class="col-sm-12 col-md-6">
                                                  <div class="form-group">
                                                    <label for="colonia">Colonia</label>
                                                    <input class="form-control" id="colonia" name="colonia" type="text" formControlName="colonia">
                                                  </div>
                                              </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                  <label for="calle">Calle</label>
                                                  <input class="form-control" id="calle" name="calle" type="text" formControlName="calle">
                                                </div>
                                            </div>
                                              <div class="col-sm-12 col-md-6">
                                                  <div class="form-group">
                                                    <label for="numero">Número</label>
                                                    <input  class="form-control" id="numero" name="numero" type="text" formControlName="numero">
                                                  </div>
                                              </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                  <label for="cp">Código Postal</label>
                                                  <input  class="form-control" id="cp" name="cp" type="text" formControlName="cp">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                  <label for="correo">Correo Electrónico</label>
                                                  <input  class="form-control" id="correo" name="correo" type="text" formControlName="email">
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                  <label for="telefono">Teléfono</label>
                                                  <input class="form-control" id="telefono" name="telefono" type="text" formControlName="telefono">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                 <button *ngIf="modal == 'modificar'" type="submit" class="btn btn-fill btn-rose float-right">Modificar</button>
                                                 <button *ngIf="modal == 'agregar'" type="submit" class="btn btn-fill btn-rose float-right">Agregar</button>
                                               </div>
                                            </div>          
                                        </div>
                                  </form>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
