    <div id="wrapper">
      <!-- Sidebar -->
      <app-menu></app-menu>
      <div id="content-wrapper">
        <div class="container-fluid">
          <app-head [nombre]="modulo"></app-head>
          <div *ngIf="calendarOptions">
              <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                  (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>


