<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
    <app-menu-admin></app-menu-admin>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-4">
                <label >Periodo</label>
                <ng-select [items]="periodoSelect"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Selecciona"
                    formControlName="idPeriodo">
              </ng-select>
            </div>
            <div class="col-sm-12 col-md-8">
                <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar Asignatura</button>
            </div>
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                    Asignaturas
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 33%">
                                  Nombre
                              </th>
                              <th style="width: 33%">
                                  Créditos
                              </th>
                              <th style="width: 34%">
                                Acciones
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of data">
                              <td>{{item.nombre}}</td>
                              <td>{{item.creditos}}</td>
                              <td><button [id]="item.clave" type='button' (click)='modificar()' class='btn btn-warning' title='Modificar'><i class='fas fa-edit'></i></button><button type='button' (click)='status()' class='btn btn-danger' title='Status'><i class='far fa-check-circle'></i></button></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal-modificar" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                          <div class="modal-body">
                            <div class="card">
                               <div class="card-header">
                                  <strong *ngIf="modal == 'modificar'">Modificar Asignatura</strong>
                                  <strong *ngIf="modal == 'agregar'">Agregar Asignatura</strong>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="card-body">
                                  <form [formGroup]="asignaturaPeriodoForm" (ngSubmit)="onSubmit()">
                                  <div class="row">
                                      <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia">Asignatura</label>
                                          <i class="fa fa-check-circle check" *ngIf="asignaturaPeriodoForm.controls.idMateria.valid"></i>
                                          <i class="fa fa-exclamation-circle uncheck" *ngIf="asignaturaPeriodoForm.controls.idMateria.invalid &&
                                          asignaturaPeriodoForm.controls.idMateria.touched"></i>
                                          <ng-select [items]="asignaturaSelect"
                                              bindLabel="name"
                                              bindValue="id"
                                              placeholder="Selecciona"
                                              formControlName="idMateria">
                                          </ng-select>
                                          <p class="alert alert-danger" *ngIf="asignaturaPeriodoForm.controls.idMateria.invalid &&
                                          asignaturaPeriodoForm.controls.idMateria.touched">
                                          El campo Asignatura es obligatorio</p>
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia">Carrera</label>
                                            <i class="fa fa-check-circle check" *ngIf="asignaturaPeriodoForm.controls.idCarrera.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="asignaturaPeriodoForm.controls.idCarrera.invalid &&
                                            asignaturaPeriodoForm.controls.idCarrera.touched"></i>
                                            <ng-select [items]="carreraSelect"
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="Selecciona"
                                                formControlName="idCarrera">
                                            </ng-select>
                                            <p class="alert alert-danger" *ngIf="asignaturaPeriodoForm.controls.idCarrera.invalid &&
                                            asignaturaPeriodoForm.controls.idCarrera.touched">
                                            El campo Carrera es obligatorio</p>
                                          </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia">Sección</label>
                                          <i class="fa fa-check-circle check" *ngIf="asignaturaPeriodoForm.controls.idSeccion.valid"></i>
                                          <i class="fa fa-exclamation-circle uncheck" *ngIf="asignaturaPeriodoForm.controls.idSeccion.invalid &&
                                          asignaturaPeriodoForm.controls.idSeccion.touched"></i>
                                          <ng-select [items]="seccionSelect"
                                              bindLabel="name"
                                              bindValue="id"
                                              placeholder="Selecciona"
                                              formControlName="idSeccion">
                                          </ng-select>
                                          <p class="alert alert-danger" *ngIf="asignaturaPeriodoForm.controls.idSeccion.invalid &&
                                          asignaturaPeriodoForm.controls.idSeccion.touched">
                                          El campo Sección es obligatorio</p>
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia">Periodo</label>
                                            <i class="fa fa-check-circle check" *ngIf="asignaturaPeriodoForm.controls.idPeriodo.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="asignaturaPeriodoForm.controls.idPeriodo.invalid &&
                                            asignaturaPeriodoForm.controls.idPeriodo.touched"></i>
                                            <ng-select [items]="periodoSelect"
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="Selecciona"
                                                formControlName="idPeriodo">
                                            </ng-select>
                                            <p class="alert alert-danger" *ngIf="asignaturaPeriodoForm.controls.idPeriodo.invalid &&
                                            asignaturaPeriodoForm.controls.idPeriodo.touched">
                                            El campo Periodo es obligatorio</p>
                                          </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia">Año</label>
                                            <i class="fa fa-check-circle check" *ngIf="asignaturaPeriodoForm.controls.year.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="asignaturaPeriodoForm.controls.year.invalid &&
                                            asignaturaPeriodoForm.controls.year.touched"></i>
                                            <input  class="form-control" id="year" type="text" formControlName="year">
                                            <p class="alert alert-danger" *ngIf="asignaturaPeriodoForm.controls.year.invalid &&
                                            asignaturaPeriodoForm.controls.year.touched">
                                            El campo Año es obligatorio</p>
                                          </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                      <div *ngIf="modal == 'modificar'" class="form-group">
                                          <button  type="submit" class="btn btn-fill btn-rose " [disabled]=!asignaturaPeriodoForm.valid>Modificar</button>
                                          <p class="alert alert-danger" *ngIf="!asignaturaPeriodoForm.valid">
                                           Por favor complete los campos
                                          </p>
                                      </div>
                                      <div *ngIf="modal == 'agregar'" class="form-group">
                                          <button type="submit" class="btn btn-fill btn-rose " [disabled]=!asignaturaPeriodoForm.valid>Agregar</button>
                                          <p class="alert alert-danger" *ngIf="!asignaturaPeriodoForm.valid">
                                           Por favor complete los campos
                                          </p>
                                      </div>
                                    </div>         
                                  </div>
                                  </form>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>


