<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
    <app-menu-admin></app-menu-admin>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar Grupo</button>
            </div>
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                   Grupos
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 10%">
                                Clave
                              </th>
                              <th style="width: 20%">
                                Materia
                              </th>
                              <th style="width: 20%">
                                 Docente
                              </th>
                              <th style="width: 15%">
                                  Ciclo
                              </th>
                              <th style="width: 15%">
                                  Subciclo
                                </th>
                              <th style="width: 20%">
                                Acciones
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of data">
                              <td>{{item.clave}}</td>
                              <td>{{item.materia}}</td>
                              <td>{{item.nombreDocente}} {{item.apellidoPDocente}}</td>
                              <td>{{item.ciclo}}</td>
                              <td>{{item.subCiclo}}</td>
                              <td>
                                  <button type='button' (click)='modificar(item.idGrupo)' class='btn btn-warning' title='Modificar'>
                                      <i class='fas fa-edit'></i>
                                  </button>
                                  <button type='button' (click)='clonar(item.idGrupo)' class='btn btn-success' title='Clonar'>
                                      <i class="fas fa-clone"></i>
                                  </button>
                                  <button type='button' (click)='horario(item.idGrupo)' class='btn btn-dark' title='Horario'>
                                        <i class="fas fa-clock"></i>
                                    </button>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                          <div class="modal-body">
                            <div class="card">
                               <div class="card-header">
                                <strong *ngIf="modal == 'modificar'">Modificar Agregar</strong>
                                <strong *ngIf="modal == 'agregar'">Agregar Agregar</strong>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="grupoForm" (ngSubmit)="onSubmit()">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="clave"> Clave </label>
                                                    <i class="fa fa-check-circle check" *ngIf="grupoForm.controls.clave.valid"></i>
                                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="grupoForm.controls.clave.invalid &&
                                                    grupoForm.controls.clave.touched"></i>
                                                    <input name="clave" formControlName="clave" value="" class="form-control" type="text" />
                                                    <p class="alert alert-danger" *ngIf="grupoForm.controls.clave.invalid &&
                                                    grupoForm.controls.clave.touched">
                                                    El campo Ciclo es obligatorio</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="materia"> Docente</label>
                                                    <i class="fa fa-check-circle check" *ngIf="grupoForm.controls.idDocente.valid"></i>
                                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="grupoForm.controls.idDocente.invalid &&
                                                    grupoForm.controls.idDocente.touched"></i>
                                                    <ng-select [items]="docenteSelect"
                                                        bindLabel="name"
                                                        bindValue="id"
                                                        placeholder="Selecciona"
                                                        formControlName="idDocente">
                                                    </ng-select>
                                                    <p class="alert alert-danger" *ngIf="grupoForm.controls.idDocente.invalid &&
                                                    grupoForm.controls.idDocente.touched">
                                                    El campo Docente es obligatorio</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label> Ciclo </label>
                                                    <i class="fa fa-check-circle check" *ngIf="grupoForm.controls.idCiclo.valid"></i>
                                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="grupoForm.controls.idCiclo.invalid &&
                                                    grupoForm.controls.idCiclo.touched"></i>
                                                    <ng-select [items]="cicloSelect"
                                                            bindLabel="name"
                                                            bindValue="id"
                                                            [(ngModel)]="idCiclo"
                                                            (change)="changeCiclo()"
                                                            placeholder="Selecciona"
                                                            formControlName="idCiclo">
                                                    </ng-select>
                                                    <p class="alert alert-danger" *ngIf="grupoForm.controls.idCiclo.invalid &&
                                                    grupoForm.controls.idCiclo.touched">
                                                    El campo Ciclo es obligatorio</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="materia">SubCiclo</label>
                                                    <i class="fa fa-check-circle check" *ngIf="grupoForm.controls.idSubCiclo.valid"></i>
                                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="grupoForm.controls.idSubCiclo.invalid &&
                                                    grupoForm.controls.idSubCiclo.touched"></i>
                                                    <ng-select [items]="subcicloSelect"
                                                            bindLabel="name"
                                                            bindValue="id"
                                                            placeholder="Selecciona"
                                                            formControlName="idSubCiclo">
                                                    </ng-select> 
                                                    <p class="alert alert-danger" *ngIf="grupoForm.controls.idSubCiclo.invalid &&
                                                    grupoForm.controls.idSubCiclo.touched">
                                                    El campo Subciclo es obligatorio</p>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group">
                                                        <label> Periodo </label>
                                                        <ng-select [items]="periodoSelect"
                                                            bindLabel="name"
                                                            bindValue="id"
                                                            [(ngModel)]="periodo"
                                                            (change)="changePeriodo()"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ng-select>
                                                    </div> 
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group">
                                                        <label>Asignatura</label>
                                                        <i class="fa fa-check-circle check" *ngIf="grupoForm.controls.idMateria.valid"></i>
                                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="grupoForm.controls.idMateria.invalid &&
                                                        grupoForm.controls.idMateria.touched"></i>
                                                        <ng-select [items]="asignaturaSelect"
                                                            bindLabel="name"
                                                            bindValue="id"
                                                            placeholder="Selecciona"
                                                            formControlName="idMateria">
                                                        </ng-select>
                                                        <p class="alert alert-danger" *ngIf="grupoForm.controls.idMateria.invalid &&
                                                        grupoForm.controls.idSubCiclo.touched">
                                                        El campo Asignatura es obligatorio</p>
                                                    </div> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 ">
                                                <div *ngIf="modal == 'modificar'" class="form-group">
                                                    <button  type="submit" class="btn btn-fill btn-rose float-right" [disabled]=!grupoForm.valid>Modificar</button>
                                                    <p class="alert alert-danger" *ngIf="!grupoForm.valid">
                                                        Por favor complete los campos
                                                    </p>
                                                </div>
                                                <div *ngIf="modal == 'agregar'" class="form-group">
                                                    <button type="submit" class="btn btn-fill btn-rose float-right" [disabled]=!grupoForm.valid>Agregar</button>
                                                    <p class="alert alert-danger" *ngIf="!grupoForm.valid">
                                                        Por favor complete los campos
                                                    </p>
                                                </div>
                                            </div> 
                                        </div> 
                                    </form>
                                  </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
