<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
  <app-menu-admin></app-menu-admin>
  <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar Personal</button>
          </div>
          <div class="col-sm-12">
            <div class="card tabla mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                  Personal Docente
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table class="row-border hover">
                        <thead>
                        <tr>
                            <th style="width: 20%">
                                Nombre
                            </th>
                            <th style="width: 20%">
                                Apellido Paterno
                            </th>
                            <th style="width: 20%">
                                Apellido Materno
                            </th>
                            <th style="width: 20%">
                                Correo Electrónico
                            </th>  
                            <th style="width: 20%">
                              Acciones
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.nombre}}</td>
                            <td>{{item.apellidoP}}</td>
                            <td>{{item.apellidoM}}</td>
                            <td>{{item.usuario}}</td>
                            <td>
                                    <button type='button' (click)='modificar(item.idDocente)' class='btn btn-warning' title='Modificar'>
                                      <i class='fas fa-edit'></i>
                                    </button>
                                    <button *ngIf="item.estatus == 1" type='button' (click)='status(item.idDocente,item.estatus)' class='btn btn-success' title='Activo'>
                                      <i class='far fa-check-circle'></i>
                                    </button>
                                    <button *ngIf="item.estatus == 0" type='button' (click)='status(item.idDocente,item.estatus)' class='btn btn-danger' title='Inactivo'>
                                        <i class="far fa-times-circle"></i>
                                    </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                        <div class="modal-body">
                          <div class="card">
                             <div class="card-header">
                                    <strong *ngIf="modal == 'modificar'">Modificar Personal Docente</strong>
                                    <strong *ngIf="modal == 'agregar'">Agregar Personal Docente</strong>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="card-body">
                                <form [formGroup]="docenteForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia"> Nombre</label>
                                            <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.nombre.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.nombre.invalid &&
                                            docenteForm.controls.nombre.touched"></i>
                                            <input  class="form-control" id="nombre" formControlName="nombre" type="text" >
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.nombre.invalid &&
                                            docenteForm.controls.nombre.touched">
                                            El campo Nombre es obligatorio</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia"> Apellido Paterno</label>
                                            <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.apellidoP.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.apellidoP.invalid &&
                                            docenteForm.controls.apellidoP.touched"></i>
                                            <input  class="form-control" id="app" type="text" formControlName="apellidoP" >
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.apellidoP.invalid &&
                                            docenteForm.controls.apellidoP.touched">
                                            El campo Apellido Paterno es obligatorio</p>
                                          </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia">Apellido Materno</label>
                                          <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.apellidoM.valid"></i>
                                          <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.apellidoM.invalid &&
                                          docenteForm.controls.apellidoM.touched"></i>  
                                        <input  class="form-control" id="apm" formControlName="apellidoM" type="text" >
                                        <p class="alert alert-danger" *ngIf="docenteForm.controls.apellidoM.invalid &&
                                        docenteForm.controls.apellidoM.touched">
                                        El campo Apellido Materno es obligatorio</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia">Fecha de Nacimiento</label>
                                          <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.fechaNac.valid"></i>
                                          <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.fechaNac.invalid &&
                                          docenteForm.controls.fechaNac.touched"></i>  
                                          <div class="input-group">
                                            <input [bsValue]="bsValue" class="form-control" [minDate]="minDate" [maxDate]="maxDate" placeholder="dd/mm/aaaa" formControlName="fechaNac" bsDatepicker #dp2="bsDatepicker" [bsConfig]="bsConfig" >
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-calendar" (click)="dp2.show() " ><i class="fas fa-calendar-alt"></i></button>
                                            </div>
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.fechaNac.invalid &&
                                            docenteForm.controls.fechaNac.touched">
                                            El campo Fecha de Nacimiento es obligatorio</p>
                                          </div>
                                        </div>
                                   </div>     
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia"> Número de Seguro Social</label>
                                            <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.nss.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.nss.invalid &&
                                            docenteForm.controls.nss.touched"></i>  
                                            <input  class="form-control" id="nss" type="text" formControlName="nss" pattern="[0-9]{11}">
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.nss.invalid &&
                                            docenteForm.controls.nss.touched">
                                            El campo Número de Seguro Social es obligatorio 11 digitos</p>
                                          </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia"> Correo Electrónico</label>
                                            <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.usuario.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.usuario.invalid &&
                                            docenteForm.controls.usuario.touched"></i>  
                                            <input  class="form-control" id="correo" type="usuario" formControlName="usuario">
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.usuario.invalid &&
                                            docenteForm.controls.usuario.touched">
                                            El campo Correo Electrónico no es válido</p>
                                          </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia">Teléfono </label>
                                            <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.telefonol.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.telefonol.invalid &&
                                            docenteForm.controls.telefonol.touched"></i>  
                                            <input  class="form-control" id="tel" type="text" formControlName="telefonol" pattern="[0-9]{10}">
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.telefonol.invalid &&
                                            docenteForm.controls.telefonol.touched">
                                            El campo Teléfono es obligatorio</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="materia">Título</label>
                                                <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.titulo.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.titulo.invalid &&
                                                docenteForm.controls.titulo.touched"></i> 
                                                <input  class="form-control" id="titulo" type="text" formControlName="titulo">
                                                <p class="alert alert-danger" *ngIf="docenteForm.controls.titulo.invalid &&
                                                docenteForm.controls.titulo.touched">
                                                El campo Título es obligatorio</p>
                                             </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="materia"> Curp</label>
                                                <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.curp.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.curp.invalid &&
                                                docenteForm.controls.curp.touched"></i> 
                                                <input  class="form-control" id="curp" type="text" formControlName="curp" pattern="([A-Z]{4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM](AS|BC|BS|CC|CL|CM|CS|CH|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[A-Z]{3}[0-9A-Z]\d)">
                                                <p class="alert alert-danger" *ngIf="docenteForm.controls.curp.invalid &&
                                                docenteForm.controls.curp.touched">
                                                El campo Curp es obligatorio</p>
                                            </div>  
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                    <label for="materia"> Sexo</label>
                                                    <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.sexo.valid"></i>
                                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.sexo.invalid &&
                                                    docenteForm.controls.sexo.touched"></i> 
                                                    <ng-select [items]="sexoSelect"
                                                                bindLabel="name"
                                                                bindValue="id"
                                                                formControlName="sexo"
                                                                placeholder="Selecciona"
                                                                (change)="change()">
                                                    </ng-select>
                                                    <p class="alert alert-danger" *ngIf="docenteForm.controls.sexo.invalid &&
                                                    docenteForm.controls.sexo.touched">
                                                    El campo Sexo es obligatorio</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                    <label for="materia"> Estado</label>
                                                    <ng-select [items]="estadosSelect"
                                                                bindLabel="name"
                                                                bindValue="id"
                                                                placeholder="Selecciona"
                                                                [(ngModel)]="idEstado"
                                                                (change)="change()"
                                                                [ngModelOptions]="{standalone: true}">
                                                    </ng-select>
                                             </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="materia"> Municipio</label>
                                                <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.idMunicipio.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.idMunicipio.invalid &&
                                                docenteForm.controls.idMunicipio.touched"></i> 
                                                <ng-select [items]="municipiosSelect"
                                                                bindLabel="name"
                                                                bindValue="id"
                                                                placeholder="Selecciona"
                                                                formControlName="idMunicipio">
                                                </ng-select>
                                                <p class="alert alert-danger" *ngIf="docenteForm.controls.idMunicipio.invalid &&
                                                docenteForm.controls.idMunicipio.touched">
                                                El campo Municipio depende del campo Estado </p>
                                            </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia"> Colonia</label>
                                            <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.colonia.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.colonia.invalid &&
                                            docenteForm.controls.colonia.touched"></i> 
                                            <input  class="form-control" id="colonia" type="text" formControlName="colonia">
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.colonia.invalid &&
                                            docenteForm.controls.colonia.touched">
                                            El campo Colonia es obligatorio </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia"> Calle</label>
                                            <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.calle.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.calle.invalid &&
                                            docenteForm.controls.calle.touched"></i> 
                                            <input  class="form-control" id="calle" type="text" formControlName="calle">
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.calle.invalid &&
                                            docenteForm.controls.calle.touched">
                                            El campo Calle es obligatorio</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia">Número</label>
                                            <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.numero.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.numero.invalid &&
                                            docenteForm.controls.numero.touched"></i> 
                                            <input  class="form-control" id="num" type="text" formControlName="numero">
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.numero.invalid &&
                                            docenteForm.controls.numero.touched">
                                            El campo Número es obligatorio </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="materia"> Código Postal</label>
                                            <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.cp.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.cp.invalid &&
                                            docenteForm.controls.cp.touched"></i> 
                                            <input  class="form-control" id="cp" type="text" formControlName="cp" pattern="[0-9]{5}">
                                            <p class="alert alert-danger" *ngIf="docenteForm.controls.cp.invalid &&
                                            docenteForm.controls.cp.touched">
                                            El campo Código Postal es obligatorio </p>
                                        </div>
                                    </div>
                                </div>
                                
                                  <div class="col-sm-12 ">
                                    <div *ngIf="modal == 'modificar'" class="form-group">
                                        <button type="submit" class="btn btn-fill btn-rose float-right" [disabled]=!docenteForm.valid>Modificar</button>
                                        <p class="alert alert-danger" *ngIf="!docenteForm.valid">
                                            Por favor complete los campos
                                        </p>
                                    </div>
                                    <div *ngIf="modal == 'agregar'" class="form-group">
                                        <button type="submit" class="btn btn-fill btn-rose float-right" [disabled]=!docenteForm.valid>Agregar</button>
                                        <p class="alert alert-danger" *ngIf="!docenteForm.valid">
                                            Por favor complete los campos
                                        </p>
                                    </div>
                                </div>
                                </form>
                              </div>
                            </div>
                        </div>
                  </div>
                </div>
              </div>

            </div> 
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
