<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
    <app-menu-admin></app-menu-admin>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <ngb-alert class="float-right" style="z-index: 100;position: absolute;right:5px;top:15px;" *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <button type="submit" (click)='agregar()' class="btn btn-fill btn-rose float-right">Agregar Asignatura</button>
            </div>
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                    Asignaturas
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 33%">
                                  Nombre
                              </th>
                              <th style="width: 33%">
                                  Créditos
                              </th>
                              <th style="width: 34%">
                                Acciones
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of data">
                              <td>{{item.nombre}}</td>
                              <td>{{item.creditos}}</td>
                              <td><button type='button' (click)='modificar(item.idMateria)' class='btn btn-warning' title='Modificar'><i class='fas fa-edit'></i></button></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                          <div class="modal-body">
                            <div class="card">
                               <div class="card-header">
                                  <strong *ngIf="modal == 'modificar'">Modificar Asignatura</strong>
                                  <strong *ngIf="modal == 'agregar'">Agregar Asignatura</strong>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="card-body">
                                  <form [formGroup]="asignaturaForm" (ngSubmit)="onSubmit()">
                                  <div class="row">
                                      <div class="col-sm-12 ">
                                        <div class="form-group">
                                          <label for="materia">Nombre</label>
                                          <i class="fa fa-check-circle check" *ngIf="asignaturaForm.controls.nombre.valid"></i>
                                          <i class="fa fa-exclamation-circle uncheck" *ngIf="asignaturaForm.controls.nombre.invalid &&
                                          asignaturaForm.controls.nombre.touched"></i>
                                          <input  class="form-control" id="nombre" type="text" formControlName="nombre">
                                          <p class="alert alert-danger" *ngIf="asignaturaForm.controls.nombre.invalid &&
                                          asignaturaForm.controls.nombre.touched">
                                          El campo Nombre es obligatorio</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-12 ">
                                          <div class="form-group">
                                            <label for="materia">Créditos</label>
                                            <i class="fa fa-check-circle check" *ngIf="asignaturaForm.controls.creditos.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="asignaturaForm.controls.creditos.invalid &&
                                            asignaturaForm.controls.creditos.touched"></i>
                                            <input  class="form-control" id="creditos" type="number" formControlName="creditos">
                                            <p class="alert alert-danger" *ngIf="asignaturaForm.controls.creditos.invalid &&
                                            asignaturaForm.controls.creditos.touched">
                                            El campo Créditos es obligatorio</p>
                                          </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12 ">
                                          <div *ngIf="modal == 'modificar'" class="form-group">
                                              <button  type="submit" class="btn btn-fill btn-rose " [disabled]=!asignaturaForm.valid>Modificar</button>
                                              <p class="alert alert-danger" *ngIf="!asignaturaForm.valid">
                                               Por favor complete los campos
                                              </p>
                                          </div>
                                          <div *ngIf="modal == 'agregar'" class="form-group">
                                              <button type="submit" class="btn btn-fill btn-rose " [disabled]=!asignaturaForm.valid>Agregar</button>
                                              <p class="alert alert-danger" *ngIf="!asignaturaForm.valid">
                                               Por favor complete los campos
                                              </p>
                                          </div>
                                        </div>       
                                  </div>
                                  </form>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>




