<div id="menu" class="sidebar" data-color="rose">
  <div class="logo">
      <a class="simple-text logo-mini">
        <img src="../../assets/images/logo-ch.png" height="100%" width="100%">
      </a>
      <a class="simple-text logo-normal">
          Telesecundaria
      </a>
  </div>
  <div class="sidebar-wrapper ps-container scrollbar-dusty-grass thin">
      <div class="user">
          <div class="photo">
              <img src="../../assets/images/docentes/avatarAdmin.jpg">
          </div>
          <div class="user-info">
              <a data-toggle="collapse" href="#collapseExample" class="username">
                  <span>
                      Song Joon Ki 
                      <i class="fas fa-sort-down"></i>
                  </span>
              </a>
              <div class="collapse" id="collapseExample">
                  <ul class="nav">
                      <li class="nav-item">
                          <a class="nav-link" routerLinkActive="active" routerLink="/docente/perfil">
                            <span class="sidebar-mini"> MP </span>
                            <span class="sidebar-normal"> Mi Perfil </span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLinkActive="active" routerLink="/docente/ModificarPerfil">
                            <span class="sidebar-mini"> EP </span>
                            <span class="sidebar-normal"> Editar Perfil </span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" (click)='salir()' routerLinkActive="active" routerLink="/administrativos">
                            <span class="sidebar-mini"> S </span>
                            <span class="sidebar-normal"> Salir </span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <ul class="nav">
          <li class="nav-item ">
              <a class="nav-link" href="docente">
                  <i class="fas fa-layer-group"></i>
                  <p> Dashboard </p>
              </a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/caja">
                  <i class="fas fa-money-check-alt"></i>
                  <p> Caja</p>
              </a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" routerLinkActive="active" routerLink="/docente/calificaciones">
                <i class="fas fa-shapes"></i>
                  <p> Inscripciones </p>
              </a>
          </li>
          <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#pagesPersonal">
                    <i class="fas fa-users-cog"></i>
                    <p> Personal
                        <i class="fas fa-sort-down"></i>
                    </p>
                </a>
                <div class="collapse" id="pagesPersonal">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/personal/administrativo">
                              <span class="sidebar-mini"> A </span>
                              <span class="sidebar-normal"> Administrativo </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/personal/docente">
                              <span class="sidebar-mini"> D </span>
                              <span class="sidebar-normal"> Docente </span>
                            </a>
                        </li>
                    </ul>
                </div>
          </li>
          <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#pagesInfraestructura">
                    <i class="fas fa-users-cog"></i>
                    <p>Infraestructura
                        <i class="fas fa-sort-down"></i>
                    </p>
                </a>
                <div class="collapse" id="pagesInfraestructura">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/aulas">
                              <span class="sidebar-mini"> A </span>
                              <span class="sidebar-normal"> Aulas </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/edificios">
                              <span class="sidebar-mini"> E </span>
                              <span class="sidebar-normal"> Edificios </span>
                            </a>
                        </li>
                    </ul>
                </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/crearavisos">
                <i class="far fa-comment-alt"></i>
                <p> Avisos </p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" data-toggle="collapse" href="#pagesEscolar">
                <i class="fas fa-chalkboard-teacher"></i>
                <p> Control Escolar
                    <i class="fas fa-sort-down"></i>
                </p>
            </a>
            <div class="collapse" id="pagesEscolar">
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/asignaturas">
                          <span class="sidebar-mini"> A </span>
                          <span class="sidebar-normal"> Asignaturas </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/carreras">
                          <span class="sidebar-mini"> C </span>
                          <span class="sidebar-normal"> Carreras </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/ciclos">
                          <span class="sidebar-mini"> C </span>
                          <span class="sidebar-normal"> Ciclos Escolares </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/creargrupos">
                            <span class="sidebar-mini"> D </span>
                            <span class="sidebar-normal"> Grupos </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/periodos">
                          <span class="sidebar-mini"> P </span>
                          <span class="sidebar-normal"> Periodos Escolares  </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLinkActive="active" routerLink="/administrativos/subciclos">
                         <span class="sidebar-mini"> S </span>
                            <span class="sidebar-normal"> Subciclos Escolares  </span>
                        </a>    
                    </li>
                </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLinkActive="active" routerLink="/docente/calificaciones">
                <i class="fas fa-folder-open"></i>
                <p> Expedientes digitales </p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLinkActive="active" routerLink="/docente/calificaciones">
                <i class="fas fa-file"></i>
                <p> Reportes </p>
            </a>
          </li>
      </ul>
  <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 592px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 326px;"></div></div></div>
  <div id="menu-background" class="sidebar-background"></div>
</div>   