<div id="wrapper">
  <app-menu></app-menu>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <div class="container">
        <div class="row">
          <!-- grupo -->
          <div class="col-sm-6 col-md-4">
              <div class="form-group row">
                  <label for="idGrupo" class="col-2 form-label">Promedio:</label>
                  <div class="col-4">
                    <input class="form-control" type="text" value="{{promedio}}" disabled>
                  </div>
              </div>
          </div>
          <!-- grado -->
          <div class="col-sm-12 col-md-4">
            <div class="form-group row">
                <label for="materia" class="col-2 form-label">Grupo:</label>
                <div class="col-4">
                        <ng-select [items]="grupos"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Selecciona"
                        [(ngModel)]="idGrupo"
                        (change)="change()">
                </ng-select> 
                </div>
            </div>
          </div>
          <!-- materia -->
          <div class="col-sm-12 col-md-4">
              <div class="form-group row">
                  <label for="materia" class="col-2 form-label">Materia:</label>
                  <div class="col-4">
                        <input class="form-control" type="text" value="{{materia}}" disabled>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card tabla mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                 Calificaciones
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" id="example" class="row-border hover">
                        <thead>
                        <tr>
                            <th style="width: 20%; text-align: center">
                                Matricula
                            </th>
                            <th style="width: 20%">
                                Apellido Paterno
                            </th>
                            <th style="width: 20%">
                                Apellido Materno
                            </th>
                            <th style="width: 20%">
                                Nombre
                            </th>
                            <th style="width: 20%; text-align: center">
                              Calificación
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of data">
                              <td style="text-align: center">{{item.matricula}}</td>
                              <td>{{item.apellidop}}</td>
                              <td>{{item.apellidom}}</td>
                              <td>{{item.nombre}}</td>
                              <td style="text-align: center">{{item.calificacion}}</td>
                          </tr>
                          </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
