
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
              <form method="post">
                <h2 class="text-center"><strong>Alumno</strong></h2>
                <div class="form-group"><input class="form-control" type="text" name="matricula" placeholder="Matrícula" /></div>
                <div class="form-group"><input class="form-control" type="password" name="contrasena" placeholder="Contraseña" /></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Iniciar sesión</button></div>
              </form>
        </div>
    </div>
