<div id="wrapper">
    <app-menu-superuser></app-menu-superuser>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <button type="submit" (click)="agregar()" class="btn btn-fill btn-rose float-right">Agregar Usuario</button>
            </div>
            <div class="col-sm-12">
              <div class="card tabla mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                   Usuarios
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 20%">
                                  Nombre
                              </th>
                              <th style="width: 20%">
                                  Apellido Paterno
                              </th>
                              <th style="width: 20%">
                                  Apellido Materno
                              </th>
                              <th style="width: 20%">
                                  Correo Electrónico
                              </th>
                              <th style="width: 20%">
                                Acciones
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of data">
                              <td>{{item.nombre}}</td>
                              <td>{{item.app}}</td>
                              <td>{{item.apm}}</td>
                              <td>{{item.correo}}</td>
                              <td><button [id]="item.clave" type='button' (click)='modificar()' class='btn btn-warning' title='Modificar'><i class='fas fa-edit'></i></button><button type='button' (click)='status()' class='btn btn-danger' title='Status'><i class='far fa-check-circle'></i></button></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- Modal 1-->
                <div class="modal fade" id="modal-modificar" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                          <div class="modal-body">
                            <div class="card">
                               <div class="card-header">
                                  <strong>Modificar Usuario</strong>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                      <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input  class="form-control" id="nombre" type="text" >
                                      </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia">Apellido Paterno</label>
                                          <input  class="form-control" id="app" type="text" >
                                        </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                          <label for="materia">Apellido Materno</label>
                                          <input class="form-control" id="apm" type="text" >
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="materia">Correo Electrónico</label>
                                            <input class="form-control" id="correo" type="text" >
                                          </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                           <p>**La contraseña inicial será DaomingSi123 podrá ser cambiada cuando el usuario lo desee**</p>
                                         </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                           <button type="submit" class="btn btn-fill btn-rose float-right">Modificar</button>
                                         </div>
                                      </div>          
                                    </div>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
                <!-- Modal 2-->
                <div class="modal fade" id="modal-agregar" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                      <div class="modal-content">
                            <div class="modal-body">
                              <div class="card">
                                 <div class="card-header">
                                    <strong>Agregar Nuevo Usuario</strong>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="card-body">
                                      <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                          <div class="form-group">
                                            <label for="name">Nombre</label>
                                            <input  class="form-control" id="nombre" type="text" >
                                          </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                              <label for="materia">Apellido Paterno</label>
                                              <input  class="form-control" id="app" type="text" >
                                            </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                              <label for="materia">Apellido Materno</label>
                                              <input  class="form-control" id="apm" type="text" >
                                            </div>
                                          </div>
                                          <div class="col-sm-12 col-md-6">
                                              <div class="form-group">
                                                <label for="materia">Correo Electrónico</label>
                                                <input  class="form-control" id="correo" type="text" >
                                              </div>
                                            </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-12 col-md-6">
                                              <div class="form-group">
                                               <p>**La contraseña inicial será DaomingSi123 podrá ser cambiada cuando el usuario lo desee**</p>
                                             </div>
                                          </div>
                                          <div class="col-sm-12 col-md-6">
                                              <div class="form-group">
                                               <button type="submit" class="btn btn-fill btn-rose float-right">Agregar</button>
                                             </div>
                                          </div>          
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                    </div>
                  </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>