<div id="wrapper">
  <app-menu-alum></app-menu-alum>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <div class="container">
        <div class="row">
          <!-- Promedio -->
          <div class="col-sm-12 col-md-4">
              <div class="form-group row">
                  <label for="idGrupo" class="col-2 form-label">Promedio:</label>
                  <div class="col-4">
                    <input class="form-control" type="text" [(ngModel)] ="promedio" disabled>
                  </div>
              </div>
            </div>
          <!-- Ciclo -->
          <div class="form-group col-sm-12 col-md-4" >
              <label for="postal-code">Ciclo</label>
              <div class="col-12">
                  <ng-select [items]="cicloSelect"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Selecciona"
                    (change)="changeCiclo()"
                    [(ngModel)]="idCiclo">
                  </ng-select>
              </div>
            </div>
          <!-- Subciclo -->  
            <div class="form-group col-sm-12 col-md-4" >
                <label for="postal-code">SubCiclo</label>
                <div class="col-12">
                    <ng-select [items]="subcicloSelect"
                      bindLabel="name"
                      bindValue="id"
                      placeholder="Selecciona"
                      (change)="changeSub()"
                      [(ngModel)]="idSubciclo">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card tabla mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                 Calificaciones
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover">
                        <thead>
                        <tr>
                            <th style="width: 34%; ">
                                Materia
                            </th>
                            <th style="width: 33%;  ">
                              Profesor(a)
                            </th>
                            <th style="width: 33%;  text-align: center">
                                Calificación
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of data">
                              <td >{{item.materia}}</td>
                              <td >{{item.profesor}}</td>
                              <td >{{item.calificacion}}</td>
                          </tr>
                          </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>