<div id="wrapper">
  <!-- Sidebar -->
  <app-menu-alum></app-menu-alum>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
    </div>
    <div class="container" style="margin-left: 15px; margin-right: 15px">
      <div class="row">
        <!-- promedio -->
        <div class="col-sm-6 col-md-4">
            <div class="form-group row">
                <label for="idPromedio" class="col-2 form-label" disabled>Promedio:</label>
                <div class="col-4">
                  <input class="form-control" type="text" value="10" id="idGrado" disabled>
                </div>
            </div>
        </div>
        <!-- materia -->
        <div class="col-sm-12 col-md-4">
            <div class="form-group row">
                <label for="grado" class="col-2 form-label">Grado:</label>
                <div class="col-4">
                    <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
                </div>
            </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
