<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
  <!-- Sidebar -->
  <app-menu-alum></app-menu-alum>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <ngb-alert class="float-right" style="z-index: 100" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      <ngb-alert class="float-right" style="z-index: 100" *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
      <aside class="profile-card scrollbar-dusty-grass thin">
          <div class="container emp-profile">
              <form [formGroup]="modalumnoForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="profile-img">
                              <img src="http://localhost:8080/Apis/assets/images/alumnos/{{urlImagen}}" alt=""/>
                              <div class="file btn btn-lg btn-primary">
                                  Cambiar imagen
                              <input accept="image/*" name="file" id="file-input" type="file" (change)="cargandoImagen($event)"/>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="row">
                              <div class="profile-head">
                                  <h5>{{alumno.nombre}} {{alumno.apellidoP}}</h5>
                                  <div class="row">
                                    <div class="col-md-6"><h6>Estudiante</h6></div>
                                    <div class="col-md-6"><h6>3er Grado</h6></div>
                                  </div>
                                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos Personales</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Datos de contacto</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="tab-content profile-tab" id="myTabContent">
                                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                          <div class="col-md-6" >
                                            <label>Matricula</label>
                                          </div>
                                          <div class="col-md-6">
                                            <p>{{alumno.matricula}}</p>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" >
                                              <label>Nombre</label>
                                            </div>
                                            <div class="col-md-6">
                                              <input class="form-control"  [ngModelOptions]="{standalone: true}"  [(ngModel)] ="alumno.nombre" type="text"   disabled>
                                              
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>Apellido Paterno</label>
                                            </div>
                                            <div class="col-md-6">
                                              <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)] ="alumno.apellidoP" disabled>
                                
                                            </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-md-6">
                                                <label>Apellido Materno</label>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)] ="alumno.apellidoM"  disabled>
                                              </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-md-6">
                                                <label>Fecha de nacimiento</label>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="input-group">
                                                  <input class="form-control"  [ngModelOptions]="{standalone: true}"  [(ngModel)] ="alumno.fechaNac" disabled>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" >
                                              <label>Contraseña</label>
                                              <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.contrasena.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.contrasena.invalid &&
                                                modalumnoForm.controls.contrasena.touched"></i>
                                            </div>
                                            <div class="col-md-6">
                                                <input class="form-control" type="password" id="contra" formControlName="contrasena" >
                                            </div>
                                        </div>                                                  
                                      </div>
                                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Correo electrónico</label>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="email"   [ngModelOptions]="{standalone: true}"  [(ngModel)] ="alumno.email" disabled>
                                              </div>
                                          </div>  
                                          <div class="row">
                                            <div class="col-md-6" >
                                              <label>Teléfono</label>
                                            </div>
                                            <div class="col-md-6">
                                              <input class="form-control" type="number"  [ngModelOptions]="{standalone: true}"  [(ngModel)] ="alumno.telefono" disabled >
                                            </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Celular</label>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="number" [ngModelOptions]="{standalone: true}"  [(ngModel)] ="alumno.celular" disabled>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Domicilio</label>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)] ="alumno.colonia" disabled >
                                              </div>
                                          </div> 
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Municipio</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)] ="municipio"  disabled >
                                              </div>
                                          </div> 
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Estado</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)] ="estado"  disabled >
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>código Postal</label>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="number" [ngModelOptions]="{standalone: true}"  [(ngModel)] ="alumno.cp" disabled>
                                              </div>
                                          </div>          
                                      </div>
                                  </div>
                              </div>
                          </div>  
                          <div class="row">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-fill btn-rose float-right" [disabled]=!modalumnoForm.valid>Guardar</button>
                                <p class="alert alert-danger" *ngIf="!modalumnoForm.valid">
                                  Por favor complete los campos
                                </p>
                            </div>
                        </div>  
                      </div>
                  </div>
              </form>           
          </div>
      </aside>
    </div>
    <app-footer></app-footer>
  </div>
</div>

