<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
  <!-- Sidebar -->
  <app-menu-alum></app-menu-alum>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <aside class="profile-card scrollbar-dusty-grass thin">
          <div class="container emp-profile">
              <form [formGroup]="modalumnoForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="profile-img">
                              <img src="../../assets/images/alumnos/dylan.jpg" alt=""/>
                              <div class="file btn btn-lg btn-primary">
                                Cambiar imagen
                                <input type="file" name="file"/>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="row">
                              <div class="profile-head">
                                  <h5>Dylan Wang</h5>
                                  <div class="row">
                                    <div class="col-md-6"><h6>Estudiante</h6></div>
                                    <div class="col-md-6"><h6>3er Grado</h6></div>
                                  </div>
                                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos Personales</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Datos de contacto</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="tab-content profile-tab" id="myTabContent">
                                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                          <div class="col-md-6" >
                                            <label>Matricula</label>
                                          </div>
                                          <div class="col-md-6">
                                            <p>12345</p>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" >
                                              <label>Nombre</label>
                                              <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.nombre.valid"></i>
                                              <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.nombre.invalid &&
                                              modalumnoForm.controls.nombre.touched"></i>
                                            </div>
                                            <div class="col-md-6">
                                              <input class="form-control"   formControlName="nombre" type="text"  id="nombre" >
                                              
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>Apellido Paterno</label>
                                              <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.app.valid"></i>
                                              <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.app.invalid &&
                                              modalumnoForm.controls.app.touched"></i>
                                            </div>
                                            <div class="col-md-6">
                                              <input class="form-control" type="text"  formControlName="app" id="app" >
                                
                                            </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-md-6">
                                                <label>Apellido Materno</label>
                                                <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.apm.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.apm.invalid &&
                                                modalumnoForm.controls.apm.touched"></i>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="text" formControlName="apm" id="apm" >
                                              </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-md-6">
                                                <label>Fecha de nacimiento</label>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="input-group">
                                                  <input class="form-control" [minDate]="minDate" [maxDate]="maxDate" placeholder="dd/mm/aaaa" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" disabled>
                                                  <div class="input-group-btn">
                                                      <button type="button" class="btn btn-calendar" (click)="dp.show() " disabled><i class="fas fa-calendar-alt"></i></button>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-md-6">
                                                <label>Número de seguro social</label>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="number" value="35156488412345" formControlName="idNumSocial" id="idNumSocial" disabled>
                                              </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6">
                                            <label>Status</label>
                                          </div>
                                          <div class="col-md-6">
                                            <input class="form-control" type="text" value="Activo" id="idStatus" disabled>
                                          </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-6" >
                                          <label>Contraseña</label>
                                          <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.contra.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.contra.invalid &&
                                            modalumnoForm.controls.contra.touched"></i>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="password" id="contra" formControlName="contra" >
                                        </div>
                                    </div>                                                  
                                      </div>
                                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Correo electrónico</label>
                                                <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.correo.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.correo.invalid &&
                                                modalumnoForm.controls.correo.touched"></i>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="email"  formControlName="correo" id="correo" >
                                                
                                              </div>
                                          </div>  
                                          <div class="row">
                                            <div class="col-md-6" >
                                              <label>Teléfono</label>
                                              <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.idTelefono.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.idTelefono.invalid &&
                                                modalumnoForm.controls.idTelefono.touched"></i>
                                            </div>
                                            <div class="col-md-6">
                                              <input class="form-control" type="number"  formControlName="idTelefono" id="idTelefono" pattern="[0-9]{7}" >
                                             
                                            </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Celular</label>
                                                <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.idCelular.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.idCelular.invalid &&
                                                modalumnoForm.controls.idCelular.touched"></i>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="number" value="6682325850" formControlName="idCelular" id="idCelular" pattern="[0-9]{10}" >
                                               
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Domicilio</label>
                                                <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.idDom.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.idDom.invalid &&
                                                modalumnoForm.controls.idDom.touched"></i>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="text" value="Ejido Plan de Guadalupe" formControlName="idDom" id="idDom" >
                                               
                                              </div>
                                          </div> 
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Municipio</label>
                                              </div>
                                              <div class="col-md-6">
                                                <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
                                              </div>
                                          </div> 
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Estado</label>
                                              </div>
                                              <div class="col-md-6">
                                                <ngx-select-dropdown [config]="config" [options]="dataModel" aria-placeholder="Seleccionar"></ngx-select-dropdown>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>código Postal</label>
                                                <i class="fa fa-check-circle check" *ngIf="modalumnoForm.controls.idCp.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="modalumnoForm.controls.idCp.invalid &&
                                                modalumnoForm.controls.idCp.touched"></i>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="number"  formControlName="idCp" id="idCp" pattern="[0-9]{5}">
                                              </div>
                                          </div>          
                                      </div>
                                  </div>
                              </div>
                          </div>  
                          <div class="row">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-fill btn-rose float-right" [disabled]=!modalumnoForm.valid>Guardar</button>
                                <p class="alert alert-danger" *ngIf="!modalumnoForm.valid">
                                  Por favor complete los campos
                                </p>
                            </div>
                        </div>  
                      </div>
                  </div>
              </form>           
          </div>
      </aside>
    </div>
    <app-footer></app-footer>
  </div>
</div>

