body{
    background-color: #EEEEEE !important;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}
@font-face {
    font-family: 'iconic-sm';
    src: url('../node_modules/open-iconic/font/fonts/open-iconic.eot');
}
.btn-circle {
    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}
#wrapper{
    background-color: #EEEEEE;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.scrollbar-dusty-grass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F4F4F4;
    border-radius: 10px; }
  
  .scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F4F4F4; }
  
  .scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #F4F4F4 0%, #566573 100%);
    background-image: linear-gradient(120deg, #F4F4F4 0%, #566573 100%); }
  .thin::-webkit-scrollbar {
    width: 6px; }


.form-control, .is-focused .form-control, input[type="search"], select {
        background-image: linear-gradient(to top,#5D6D7E 2px,rgba(156,39,176,0) 2px),linear-gradient(to top,#d2d2d2 1px,rgba(210,210,210,0) 1px);
}
.form-control{
    display: block;
    width: 100%;
    padding: .4375rem 0;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border: 0px;
    text-align: center;
}
.form-label {
    padding: 17px 5px 0 0;
    text-align: right;
    color: #AAA;
    font-weight: 400;
}
.row{
    background-color: #ffffff;
    border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border: 0px solid #000000;
    margin-bottom: 20px;
}
.btn{
    margin: 5px;
}
button.ngx-dropdown-button {
    background-color:#AB2E5F !important;
    color: white !important;
    border-radius: 42px 42px 42px 42px !important;
    -moz-border-radius: 42px 42px 42px 42px !important;
    -webkit-border-radius: 42px 42px 42px 42px !important;
    height: 41px !important;
}
.ngx-dorpdown-container {
    width: 250px !important;
    margin: 10px 0px 0px 0px;
}
.form-group.row {
    margin-bottom: 10px !important;
}
.ngx-dorpdown-container .ngx-dropdown-list-container ul.selected-items li {
    background-color: #5D6D7E !important;
}
button.ngx-dropdown-button:active{
    background-color: white !important;
}
button:focus, .form-control:focus, input[type="search"]:focus, select:focus {
    outline:0px !important;
}
input[type="search"],select {
    padding: .4375rem 0;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border: 0px;
    text-align: center;
}
.btn.btn-rose {
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
    box-shadow: 0 2px 2px 0 rgba(233,30,99,.14), 0 3px 1px -2px rgba(233,30,99,.2), 0 1px 5px 0 rgba(233,30,99,.12);
}
@media screen and (max-width:435px) {
    .ngx-dorpdown-container {
        width: 150px !important;
    }
}
@media screen and (max-width:1045px) and (min-width:765px) {
    .ngx-dorpdown-container {
        width: 150px !important;
    }
}
.form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
}
.card-header {
    background-color: #ea1060;
}
.bs-datepicker-head {
    background-color: #AB2E5F !important;
    }
.bs-datepicker-body table td span.selected,  .bs-datepicker-body table td.selected span,  .bs-datepicker-body table td span[class*="select-"]:after,  .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #AB2E5F !important;
    }
.bs-datepicker-body table td.week span {
        color: #AB2E5F !important;
    }
button.btn.btn-calendar {
        color: white;
        margin: 0;
    }