<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">

    <!-- Sidebar -->
  
    <app-menu-admin></app-menu-admin>
  
    <div id="content-wrapper">
  
      <div class="container-fluid">
  
        <app-head [nombre]="modulo"></app-head>
  
        <div class="container-fluid">
  
          <div class="row" style="background-color: transparent">
  
              <div class="col-md-8">
  
                  <div class="row">
  
                    <form class="form-inline">
  
                      <div class="input-group mb-3 col-sm-12">
  
                        <div class="input-group-prepend">
  
                          <span class="far fa-edit" style="font-size: 30px; color: Dodgerblue;"></span>
  
                        </div>

                        <input type="text" class="form-control" placeholder="Concepto">
                      </div>
  
                      <div class="form-row" style="margin: 10px;">
  
                        <div class="input-group mb-2 col-sm-12 col-md-4" style="margin: 10px;">
  
                          <div class="input-group-prepend">
  
                            <span class="fas fa-dollar-sign" style="font-size: 30px; color: Dodgerblue;"></span>
  
                          </div>
  
                          <input type="text" class="form-control" placeholder="Precio">
  
                        </div>
  
                        <div class="input-group mb-2 col-sm-12 col-md-4" style="margin: 10px;">
  
                          <div class="input-group-prepend">
  
                            <span class="fas fa-boxes" style="font-size: 30px; color: Dodgerblue;"></span>
  
                          </div>
  
                          <input type="text" class="form-control" placeholder="Cantidad">
  
                        </div>
  
                        <div class="col-sm-12 col-md-3" style="margin: px;">
  
                          <button type="submit" class="btn btn-fill btn-rose float-right">Agregar</button>
  
                        </div>
  
                      </div>
  
                    </form>
  
                  </div>
  
                  <div class="row">
  
                      <div class="col-sm-12">
  
                          <div class="card tabla mb-3" style="margin-top: 10px !important">
  
                            <div class="card-header">
  
                              <i class="fas fa-table"></i>
  
                               Conceptos
  
                            </div>
  
                            <div class="card-body">
  
                              <div class="table-responsive">
  
                                  <table datatable [dtOptions]="dtOptions" class="row-border hover">
  
                                      <thead>
  
                                      <tr>
  
                                          <th style="width: 20%; text-align: center">
  
                                              Cant.
  
                                          </th>
  
                                          <th style="width: 60%">
  
                                              Concepto
  
                                          </th>
  
                                          <th style="width: 20%">
  
                                              Precio
  
                                          </th>
  
                                      </tr>
  
                                      </thead>
  
                                      <tbody>
  
                                        <tr *ngFor="let item of data">
  
                                            <td style="text-align: center">{{item.cantidad}}</td>
  
                                            <td>{{item.concepto}}</td>
  
                                            <td>{{item.precio}}</td>
  
                                        </tr>
  
                                        </tbody>
  
                                  </table>
  
                              </div>
  
                            </div>
  
                          </div>
  
                      </div>
  
                  </div>
  
              </div>
  
              <div class="col-md-4">
  
                <div class="row text-center" style="margin-left: 10px;">
  
                    <form [formGroup]="cajaForm" (ngSubmit)="onSubmit()" class="form-inline">
  
                        <div class="input-group mb-3 col-sm-12">
  
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  
                            <div class="input-group-append">
  
                              <button class="btn btn-outline-secondary" type="button" style="border: none;">
  
                                  <div class="input-group-prepend">
  
                                      <span class="fas fa-search" style="font-size: 30px; color: Dodgerblue;"></span>
  
                                    </div>
  
                              </button>
  
                            </div>
  
                          </div>
  
                        <div class="input-group mb-3 col-sm-12">
  
                          <div class="input-group-prepend">
  
                            <span class="fas fa-user-tie" style="font-size: 30px; color: Dodgerblue;"></span>
  
                          </div>
                          <i class="fa fa-check-circle check" *ngIf="cajaForm.controls.idAlumno.valid"></i>
                          <i class="fa fa-exclamation-circle uncheck" *ngIf="cajaForm.controls.idAlumno.invalid &&
                          cajaForm.controls.idAlumno.touched"></i>
                          <input type="text" class="form-control" placeholder="Dylan Wang" formControlName="idAlumno">
                          <p class="alert alert-danger" *ngIf="cajaForm.controls.idAlumno.invalid &&
                          cajaForm.controls.idAlumno.touched">
                          El campo Comprador es obligatorio</p>
  
                        </div>
  
                        <div class="input-group mb-3 col-sm-12">
  
                          <div class="input-group-prepend">
  
                            <span class="fas fa-user" style="font-size: 30px; color: Dodgerblue;"></span>
  
                          </div>
                          <i class="fa fa-check-circle check" *ngIf="cajaForm.controls.idUsuario.valid"></i>
                          <i class="fa fa-exclamation-circle uncheck" *ngIf="cajaForm.controls.idUsuario.invalid &&
                          cajaForm.controls.idUsuario.touched"></i>
                          <input type="text" class="form-control" placeholder="Responsable" formControlName="idUsuario" disabled>
                          <p class="alert alert-danger" *ngIf="cajaForm.controls.idUsuario.invalid &&
                          cajaForm.controls.idUsuario.touched">
                          El campo Responsable es obligatorio</p>
  
                        </div>
  
                        <div class="input-group mb-3 col-sm-12">
  
                            <div class="input-group-prepend">
  
                              <span class="fas fa-calendar" style="font-size: 30px; color: Dodgerblue;"></span>
  
                            </div>
                            <i class="fa fa-check-circle check" *ngIf="cajaForm.controls.fecha.valid"></i>
                            <i class="fa fa-exclamation-circle uncheck" *ngIf="cajaForm.controls.fecha.invalid &&
                            cajaForm.controls.fecha.touched"></i>
                            <input type="text" class="form-control"  placeholder="15-11-2018" formControlName="fecha" pattern="[0-9]{2}[-][0-9]{2}[-][0-9]{4}" disabled>
                            <p class="alert alert-danger" *ngIf="cajaForm.controls.fecha.invalid &&
                            cajaForm.controls.fecha.touched">
                            El campo Fecha es obligatorio</p>
  
                        </div>
  
                        <div class="form-row w-100" style="margin: 10px;">
  
                            <div class="row dinero w-100">
  
                              <div class="col-md-12 din">
                                  <i class="fa fa-check-circle check" *ngIf="cajaForm.controls.total.valid"></i>
                                  <i class="fa fa-exclamation-circle uncheck" *ngIf="cajaForm.controls.total.invalid &&
                                  cajaForm.controls.total.touched"></i>
                                  <input type="text" class="form-control"  value="1000.00" formControlName="total" disabled>
                                  <p class="alert alert-danger" *ngIf="cajaForm.controls.total.invalid &&
                                  cajaForm.controls.total.touched">
                                  El campo Total debe tener un valor</p>
                                </div>
  
                            </div>
  
                        </div>
  
                        <div class="col-sm-12" style="margin: px;">
  
                          <button type="submit" class="btn btn-fill btn-rose float-right" (click)='agregar()' [disabled]=!cajaForm.valid >Guardar</button>
                          <p class="alert alert-danger" *ngIf="!cajaForm.valid">
                              Por favor complete los campos
                          </p>
  
                        </div>
  
                      </form>
  
                </div>
  
              </div>
  
          </div>
  
        </div>

      </div>
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                  <div class="modal-body">
                    <div class="card">
                       <div class="card-header">
                          <strong >Venta exitosa</strong>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="card-body">
                          <div class="row">
                              <div class="col-sm-12 ">
                                  <div  class="form-group">
                                      <button style="margin-left: 150px" type="submit" class="btn btn-fill btn-rose " routerLinkActive="active" routerLink="/preinscripciones/recibo" >Imprimir Recibo</button>
                                  </div>
                                </div>       
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
          </div>
        </div>
      <app-footer></app-footer>
  
    </div>
  
</div>