.input-group-prepend {
    width: 34px;
}
.input-group{
    margin: 10px;
}
.dinero{
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius:  0px !important;
    border: 0px solid #000000;
    margin-left: 0px;
}
.col-md-12.din {
    border-style: dashed;
    border-color: #1E90FF;
}