<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="wrapper">
  <!-- Sidebar -->
  <app-menu></app-menu>
  <ngb-alert class="float-right" style="z-index: 100" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <ngb-alert class="float-right" style="z-index: 100" *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
  <div id="content-wrapper">
    <div class="container-fluid">
      <app-head [nombre]="modulo"></app-head>
      <aside class="profile-card scrollbar-dusty-grass thin">
          <div class="container emp-profile">
            <form [formGroup]="docenteForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="profile-img">
                              <img src="http://localhost:8080/Apis/assets/images/administradores/{{imagen}}" alt=""/>
                                <div class="file btn btn-lg btn-primary">
                                    Cambiar imagen
                                <input accept="image/*" name="file" id="file-input" type="file" (change)="cargandoImagen($event)"/>
                                </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="row">
                              <div class="profile-head">
                                  <h5>Cha Eun Woo</h5>
                                  <div class="row">
                                    <div class="col-md-6"><h6>Lic. en Informática</h6></div>
                                    <div class="col-md-6"><h6>Profesor</h6></div>
                                  </div>
                                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos Personales</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Datos de contacto</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="tab-content profile-tab" id="myTabContent">
                                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                          <div class="col-md-6" >
                                            <label>Clave</label>
                                          </div>
                                          <div class="col-md-6">
                                            <p>1235</p>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" >
                                              <label>Nombre</label>
                                              <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.nombre.valid"></i>
                                              <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.nombre.invalid &&
                                              docenteForm.controls.nombre.touched"></i>
                                            </div>
                                            <div class="col-md-6">
                                              <input class="form-control" formControlName="nombre" type="text">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>Apellido Paterno</label>
                                              <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.apellidoP.valid"></i>
                                              <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.apellidoP.invalid &&
                                              docenteForm.controls.apellidoP.touched"></i>
                                            </div>
                                            <div class="col-md-6">
                                              <input class="form-control" formControlName="apellidoP" type="text" >
                                            </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-md-6">
                                                <label>Apellido Materno</label>
                                                <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.apellidoM.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.apellidoM.invalid &&
                                                docenteForm.controls.apellidoM.touched"></i>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" formControlName="apellidoM" type="text">
                                              </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" >
                                              <label>Contraseña</label>
                                                <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.contrasena.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.contrasena.invalid &&
                                                docenteForm.controls.contrasena.touched"></i>
                                            </div>
                                            <div class="col-md-6">
                                                <input class="form-control" formControlName="contrasena" type="password">
                                            </div>
                                        </div>   
                                        <div class="row">
                                              <div class="col-md-6">
                                                <label>Fecha de nacimiento</label>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="input-group">
                                                  <input class="form-control" formControlName="fechaNac" disabled>
                                                  <div class="input-group-btn">
                                                      <button type="button" class="btn btn-calendar" (click)="dp.show() " disabled><i class="fas fa-calendar-alt"></i></button>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-md-6">
                                                <label>Núm de seguro social</label>
                                              </div>
                                              <div class="col-md-6">
                                                <input class="form-control" type="number" formControlName="nss"  id="nss"  disabled >
                                              </div>
                                        </div>                                            
                                      </div>
                                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                          <div class="row">
                                              <div class="col-md-6" >
                                                <label>Correo electrónico</label>
                                              </div>
                                              <div class="col-md-6">
                                                <input formControlName="usuario" class="form-control" type="email"   disabled >
                                              </div>
                                          </div>  
                                          <div class="row">
                                            <div class="col-md-6" >
                                              <label>Teléfono</label>
                                                <i class="fa fa-check-circle check" *ngIf="docenteForm.controls.telefono.valid"></i>
                                                <i class="fa fa-exclamation-circle uncheck" *ngIf="docenteForm.controls.telefono.invalid &&
                                                docenteForm.controls.telefono.touched"></i>
                                            </div>
                                            <div class="col-md-6">
                                              <input class="form-control" type="text"  formControlName="telefono" pattern="[0-9]{7}">
                                              <p></p>
                                            </div>
                                          </div>    
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12 text-center">
                                  <button type="submit" class="btn btn-fill btn-rose float-right">Guardar</button>
                                </div>
                          </div>   
                      </div>
                  </div>
              </form>           
          </div>
      </aside>
    </div>
    <app-footer></app-footer>
  </div>
</div>