<div class="container" style="margin-top:30px">
        <table border >
            <tr>
              <td>
                <div class="row"  style="background-color:#EEEEEE">
                    <div class="col-md-1">
                        <img src="../../assets/images/logo-chico.jpg">
                    </div>
                    <div class="col-md-11">
                        <p style="text-align:center">{{nombreEsc}}</p>
                    </div>
                </div>
              </td>
            </tr>
            <tr>
                <td>Recibo de pago del Alumno(a): {{nombreCan}}</td>
            </tr>
        </table>
        <table border>
            <tr>
                <td>Carrera: {{nombreCar}}</td>
                <td rowspan="2">Importe:$ {{importe}}</td>
            </tr>
            <tr>
                <td>Ciclo Escolar: {{ciclo}}</td>
            </tr> 
        </table>
        <table border>
            <tr>
              <td>Banco:</td>
              <td >Concepto:</td>
              <td>Monto:</td>
            </tr>
            <tr>
                <td>Banorte</td>
                <td rowspan="3"> Inscripción</td>
                <td rowspan="3">$ {{importe}}</td>
            </tr>
            <tr>
                <td>Referencia:</td>
                
            </tr>
            <tr>
                <td>{{ref}}</td>
                
            </tr>
            
        </table>
        <p>Copia para el Alumno</p>
        <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <table border >
            <tr>
              <td>
                <div class="row"  style="background-color:#EEEEEE">
                    <div class="col-md-1">
                        <img src="../../assets/images/logo-chico.jpg">
                    </div>
                    <div class="col-md-11">
                        <p style="text-align:center">{{nombreEsc}}</p>
                    </div>
                </div>
              </td>
            </tr>
            <tr>
                <td>Recibo de pago del Alumno(a): {{nombreCan}}</td>
            </tr>
        </table>
        <table border>
            <tr>
                <td>Carrera: {{nombreCar}}</td>
                <td rowspan="2">Importe:$ {{importe}}</td>
            </tr>
            <tr>
                <td>Ciclo Escolar: {{ciclo}}</td>
            </tr> 
        </table>
        <table border>
            <tr>
              <td>Banco:</td>
              <td >Concepto:</td>
              <td>Monto:</td>
            </tr>
            <tr>
                <td>Banorte</td>
                <td rowspan="3"> Inscripción</td>
                <td rowspan="3">$ {{importe}}</td>
            </tr>
            <tr>
                <td>Referencia:</td>
                
            </tr>
            <tr>
                <td>{{ref}}</td>
                
            </tr>
            
        </table>
        <p>Copia para la Institución</p>
        <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <table border >
            <tr>
              <td>
                <div class="row"  style="background-color:#EEEEEE">
                    <div class="col-md-1">
                        <img src="../../assets/images/logo-chico.jpg">
                    </div>
                    <div class="col-md-11">
                        <p style="text-align:center">{{nombreEsc}}</p>
                    </div>
                </div>
              </td>
            </tr>
            <tr>
                <td>Recibo de pago del Alumno(a): {{nombreCan}}</td>
            </tr>
          
        </table>
        <table border>
            <tr>
                <td>Carrera: {{nombreCar}}</td>
                <td rowspan="2">Importe:$ {{importe}}</td>
            </tr>
            <tr>
                <td>Ciclo Escolar: {{ciclo}}</td>
            </tr> 
        </table>
        <table border>
            <tr>
              <td>Banco:</td>
              <td >Concepto:</td>
              <td>Monto:</td>
            </tr>
            <tr>
                <td>Banorte</td>
                <td rowspan="3"> Inscripción</td>
                <td rowspan="3">$ {{importe}}</td>
            </tr>
            <tr>
                <td>Referencia:</td>
                
            </tr>
            <tr>
                <td>{{ref}}</td>
                
            </tr>
            
        </table>
        <p>Copia para el Banco</p>
        <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    </div>
    <input type="button" value="Imprimir Recibo" onclick="window.print()" routerLinkActive="active" routerLink=""> 
    