<div id="wrapper">
    <!-- Sidebar -->
    <app-menu-alum></app-menu-alum>
    <div id="content-wrapper">
      <div class="container-fluid">
        <app-head [nombre]="modulo"></app-head>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="card tabla mb-3" style="margin-top: 15px">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  Horario
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                          <thead>
                          <tr>
                              <th style="width: 20%; text-align: center">
                                  Dia
                              </th>
                              <th style="width: 20%; text-align: center">
                                  Materia
                              </th>
                              <th style="width: 20%; text-align: center">
                                  Horario
                              </th>
                              <th style="width: 20%; text-align: center">
                                  Edificio
                              </th>
                              <th style="width: 20%; text-align: center">
                                Aula
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of tabla">
                                <td style="text-align: center">{{item.dia}}</td>
                                <td style="text-align: center">{{item.materia}}</td>
                                <td style="text-align: center">{{item.horario}}</td>
                                <td style="text-align: center">{{item.edificio}}</td>
                                <td style="text-align: center">{{item.aula}}</td>
                            </tr>
                            </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
